[2015-10-01 11:51] fdetsch opened #1 "'develop' branch: getCollection() fails to create ~/.auxiliaries/collections.rds"
Encountered an error related to `getCollection`. The following code

[code]
results in

[code]

[2015-10-01 12:01] MatMatt commented on #1
hi habe heute leider keinen pc zur Verfügung.
die Schritte die bei getCollection !passieren sollten:
file.exists? .aux/coll...rds
yes use it/ update it
no use file in /external update it copy to .aux

ich glaube das Problem ist im lazyload. dass man hier nicht diese Abfrage
file.exists machen kann. ich wuerde dies also eher nicht als lazyload laden.

es gibt die funktion setPath oder correctPath b

[2015-10-01 12:12] fdetsch opened #2 "Broken link to 'MODIS' package manual"
The link to the 'MODIS' package manual (shown after `library(MODIS)`) is broken and must either be replaced or removed.

[code]

[2015-10-01 12:16] MatMatt commented on #2
depends if we aim to release to cran (i would welcome it), we remove, if
not i can continue to maintain it (easy, we can also fix the link an thonk
about cran later)
OK?
Am 01.10.2015 1:12 nachm. schrieb "Florian Detsch" <notifications@github.com

[2015-10-01 12:57] fdetsch commented on #1
Forgot to move 'inst/external/collections.rds' from SVN to GitHub, i.e. initial copying to '~/.auxiliaries/collections.rds' failed. Function call seems to work now.

[code]

[2015-10-01 12:57] #1 closed

[2015-10-02 08:51] fdetsch opened #3 "Misleading warning from `MODISoptions()`: 'outDirPath' does not exist"
I found that `MODISoptions()` throws irritating warnings when trying to set output paths, telling the user 'outDirPath' does not exist

[code]

although the specified folder can be found manually.

[code]

[2015-10-02 09:44] fdetsch opened #4 "`whittaker.raster` returns 0 and 1 only"
I'm trying to re-run a script I wrote a couple of months ago. Back then, I performed `whittaker.raster` (MODIS package version [0.10-18](http://download.r-forge.r-project.org/src/contrib/MODIS_0.10-18.tar.gz)) on a 'RasterStack' consisting of GIMMS3g data (2000-2010; download from [here](https://www.dropbox.com/s/pc6x1ecjy2ghiuz/gimms_sample_data.RData?dl=0)) and everything worked just fine.

[cod

[2016-05-23 19:54] tnauss opened #5 ""MODIS package's runGdal() returns error: dataFormat" problem"
As a follow up to this discussion

http://r-sig-geo.2731867.n2.nabble.com/MODIS-package-s-runGdal-returns-error-dataFormat-GTiff-format-not-supported-td7589869.html

I think the error is related to (a potential?) change in gdal format names. In your function "gdalWriteDriver" (minorFuns.R) in line 337, I assume you expect something like "VRT" but what you get is "VRT-raster-". The same is true for

[2016-05-24 06:19] fdetsch commented on #5
Fixed in package version `0.10-34` ('develop' branch). Thanks for the help!

[2016-05-24 06:19] #5 closed

[2016-06-01 06:43] fdetsch opened #6 "Infinite loop issue with MODIS:::genString()"
Calling e.g.

`MODIS:::genString("MOD11A2", collection = "005")`

without previously attaching the **MODIS** package (version 0.10-34) via `library` results in an infinite loop:

[code]

[2016-07-20 10:14] fdetsch opened #9 "Automated adjustment of 'pos1,pos2'"
When working with newly introduced, higher-resolution vegetation products (e.g. [MCD15A2H](https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/mcd15a2h_v006)), it would be nice to adjust arguments `pos1,pos2` automatically. Otherwise, functions like `whittaker.raster` (which relies on `orgTime`) are bound to fail since date strings in the product's filename do no longer start and

[2016-07-20 20:50] MatMatt commented on #9
Could you please send me an updated version of MODIS_Products.RData (your fun addProduct). Then I can automatize the extraction of the date from the filenames in general.

[2016-07-21 06:34] fdetsch commented on #9
It's already available from the 'develop' branch. For instance, if you run

`devtools::install_github("MatMatt/MODIS", ref = "develop")`

then `getProduct()` will include the newly added products.

[2016-08-11 17:08] dk-forestry opened #10 "runGdal broken after "Important Changes to LP DAAC Data Access"?"
I tried to download MODIS data using one of the examples from the runGdal-documentation:

`runGdal( job="LSTaustria", product="MOD11A1", tileH=18:19,tileV=4, begin="2010001", end="2010005", SDSstring="1", outProj="asIn")`

However, I only get this messages:

`Getting file from: LPDAAC`
`############################`
`trying URL 'http://e4ftl01.cr.usgs.gov/MOLT/MOD11A1.005/2010.01.01/MOD11A1.A20100

[2016-08-12 05:19] fdetsch commented on #10
True story. Something has changed on the download side and we need to have a look into it soon. How about LAADS, did it work? For me,

[code]

works just fine since LAADS doesn't seem to be affected.

[2016-08-12 09:00] MatMatt commented on #10
There are mechanisms for adding login credentials. When writing the the
package I already thought about that I thing the MERISland data (which was
never operative) required a login.

I think the login credential should go into: MODIS:::MODIS_FTPinfo

And probably it would be good to have a function to manipulate
...$ftpstrings.

At the end MODIS:::ModisFileDownloader needs to be enabled to use the

[2016-08-12 12:19] khufkens commented on #10
Can't offer a solution but it affects some of my personal tools as well. They did the scientific community a disservice with this in my opinion. One of the reasons MODIS is so popular is that you do not have to jump through hoops to get to the data (unlike for ESA products).

[2016-08-12 12:39] sonjnow commented on #10
Yes, that did indeed work for me. Thanks for the hint! :)

[2016-08-12 13:22] MatMatt commented on #10
The simplest solution would be to paste() the username and pw directly into the url.
See http://stackoverflow.com/questions/8510528/download-file-from-web-via-r-console
...
USERNAME = 'your username'
PASSWORD = 'your password'

 ## Url for downloading - Does contain login credentials. Use this one!!
 url <- paste( 'http://statcounter.com/p7447608/csv/download_log_file?ufrom=1323783441&uto=13238602

[2016-08-12 13:50] khufkens commented on #10
This might work:
getURL("https://api.picloud.com/job/?jids=12", userpwd="key:secret", httpauth = 1L)

[https://stackoverflow.com/questions/10157969/rcurl-http-authentication-when-site-responds-with-http-401-code-without-www-aut](https://stackoverflow.com/questions/10157969/rcurl-http-authentication-when-site-responds-with-http-401-code-without-www-aut)

[2016-08-12 14:42] khufkens commented on #10
[code]

This code gives a return, but it's a faulty one. Ironically you get the same error using [their example online.
](https://lpdaac.usgs.gov/sites/default/files/public/get_data/docs/Command%20Line%20Access%20Tips%20for%20Utilizing%20Earthdata%20Login.docx)

[2016-08-14 13:27] MatMatt commented on #10
Creating a .netrc file works for me (2.2 LDAP):
http://docs.opendap.org/index.php/DAP_Clients_-_Authentication#LDAP
and then:

url <- 'http://e4ftl01.cr.usgs.gov/MOLT/MOD13A1.006/2001.03.06/MOD13A1.A2001065.h17v00.006.2015142191043.hdf'
dest <- 'delme.hdf'

# -n forces curl to use the .netrc file for autentification.
download.file(url,destfile = dest,method = 'curl', extra=paste0('-n -L -c ~/.cook

[2016-08-18 08:05] MatMatt commented on #10
This could be the function to create the netrc file on Unixoides (I couldn't test it so far as I am on Windows here):

[code]

We could generate a message when a user tries to dl from LPDAAC and has no netrc file in his home. something like "LPDAAC requires authentification run 'lpdaacLogin()' and insert your earthdata login. or remove LPDAAC from 'serverOder' in 'MODISoptions'"

[2016-08-24 10:23] fdetsch commented on #4
Fixed rounding issue with commit [4c7b88d](https://github.com/MatMatt/MODIS/commit/4c7b88d8b06e67d772ae7d013d24b6d82cc0b33c). The reason for the observed behavior was that the former `raster::dataType` "FLT" is no longer available, but has been replaced e.g. with "FLT4S". See `?dataType` for further information.

In order to solve this issue, the `whittaker.raster` function now tries to `grep` the

[2016-08-24 10:23] #4 closed

[2016-09-06 22:52] thiagoveloso commented on #10
The folks from EarthData have released detailed instructions on how to access the servers using command line:

http://disc.sci.gsfc.nasa.gov/registration/registration-for-data-access

According to some tests I've made, both netrc file AND cookies must be enabled in order to download MODIS products.

[2016-09-21 02:40] mabdelrazek opened #11 "k"

[2016-09-21 03:17] mabdelrazek commented on #11
Hello,
One nice improvement would be to renable parallel processing. Runing the example smoothing produce the following error:

Error in val[, a] : object of type 'closure' is not subsettable

Thanks,
Mohammad

[2016-10-07 13:06] PauloEduardoCardoso commented on #5
I'm getting the "dataFormat='GTiff'" error runing version 0.10-34.

[2016-11-13 03:32] Fulano-LeTal commented on #5
I'm getting the same error in version 0.10-34: `dataFormat='GTiff', format not supported by GDAL`
If I try:
[code]
Some sugestions?

[2016-11-24 09:43] fdetsch opened #12 "'overwrite' argument for runGdal()"
I think that an 'overwrite' argument passed to `runGdal` would make sense. The reason is that I find myself re-extracting particular SDS layers quite often which are actually already available in the target 'job' folder. The redundant calls to MRT, in turn, are considerably time-consuming.

For instance, `getHdf` has a similar feature in the sense that existing .hdf files in `getOption("MODIS_loca

[2016-12-07 11:02] fdetsch commented on #12
Option available from the 'release' branch as of 42dddd3f1bc465a8881e2982b0a22ed83179fa6a.

[2016-12-07 11:02] #12 closed

[2016-12-12 15:02] fdetsch commented on #11
Confirmed. Parallel processing has been disabled on the 'release' branch as of 0e03a53ccb826cb0e7ad83476c2124edf7aae705, but its re-implementation is definitely planned for the medium term.

[2016-12-12 16:03] fdetsch commented on #6
Fixed as of 7d73a06d93bf19e59686662c3743fd8336b4bd4b.

[2016-12-12 16:03] #6 closed

[2016-12-12 16:15] fdetsch commented on #2
Removed in preparation for upcoming CRAN release as of 7c1695e2c2684b06702d90fb38c102614763d8ad.

[2016-12-12 16:15] #2 closed

[2016-12-21 11:41] mabdelrazek commented on #11
Thanks @fdetsch
looking forward to having it back!

[2017-01-09 13:36] mabdelrazek opened #13 "getHdf error (empty collection)"
Hello,

I got an error while trying to download some hdfs:

[code]

Apparently, the collection files are empty for some reason.

Session infos and MODISOptions are as follows:
[code]
Hope to see MODIS package on CRAN very soon :-)

Best,
Mohammad

[2017-01-09 15:34] fdetsch commented on #13
Hi Mohammad,

thanks for the hint. Apparently, data access through LP DAAC has been moved from http://e4ftl01.cr.usgs.gov to https://e4ftl01.cr.usgs.gov. As a consequence, `getCollection` could no longer find any online information about the most recent data collection, which in turn triggered the above error.

I adjusted the URL and uploaded the dataset. Could you please try it out for yourself?

[2017-01-09 20:33] mabdelrazek commented on #13
Thanks Florian!
I appreciate the very fast response
It works now :-D

Have a nice evening
Mohammad

[2017-01-10 00:43] rokoeh opened #14 "Error in runGdal() for products MOD09GA and MOD09GQ"
Hello I'm Having trouble downloading some products from LAADS : MOD09GA, MYD09GA, MOD09GQ and MYD09GQ. The error follows:

MODISoptions(MODISserverOrder = c("LAADS", "LPDAAC"))
 runGdal(product="MOD09GA",tileH="13",tileV="11" ,begin="2016227",
end="2016227", SDSstring="011000000000000000000", job="any",
outProj="GEO", datum="WGS84", pixelSize="0.009", mosaic="FALSE")
########################
outPr

[2017-01-10 06:57] #13 closed

[2017-01-10 11:21] fdetsch commented on #14
This should be fixed now. Please, install the latest package version via

[code]

and try it out once again. The underlying problem was two-fold:

- LAADS was not related to MOD09GA in the look-up table, and therefore, data download automatically switched to LP DAAC;
- as of late, LP DAAC requires to register at Earthdata and create a hidden .netrc file with login credentials (e.g., via `lpdaacLog

[2017-01-10 21:32] rokoeh commented on #14
Hello.
Did you finished the download and processed the image? Here it tries to download from LAADS, connects successfully but the download never finishes (the download dialog box with the graphic keeps re-setting at 50%)

I tried to use lpdaacLogin but it keeps failing to connect to LPDAAC (Here Im using win7 ultimate 32 bits)

`lpdaacLogin(server = "LPDAAC")
Creating hidden file '~/.netrc' with l

[2017-01-11 11:34] fdetsch commented on #14
Yeah, I finished both the download and the subsequent processing. On Windows, the download bar was repeatedly set back to 50%, as you say -- but in the end (i.e., after some time), it all worked out fine. Maybe wait a little longer?

[2017-01-11 20:48] rokoeh commented on #14
Waited more and it worked just fine!
Thanks.

[2017-01-12 07:22] #14 closed

[2017-01-28 18:58] rokoeh opened #15 "Error with runGdal(): Error in if (FtpDayDirs[1] == FALSE) { : missing value where TRUE/FALSE needed."
While running the command runGdal() I got the following error:

 runGdal(product = "MOD09GQ", tileH = "13", tileV = "11",
          begin = "2017-01-22", end = "2017-01-27",
          SDSstring = "0110000000", job = "2016",
          outProj = "GEO", datum = "WGS84", pixelSize = "0.0023487",
          mosaic = "FALSE")

  'MRT_HOME' not set/found! MRT is NOT enabled! See: 'https://lpdaac.usgs.gov/

[2017-01-30 08:21] fdetsch commented on #15
Thanks for reporting. It seems like [ftp://ladsftp.nascom.nasa.gov](ftp://ladsftp.nascom.nasa.gov) is currently (permanently?) not reachable. We'll have to check that when time allows.

As for your second question, the 'release' branch was merged into 'master' as soon as **MODIS** was available from [CRAN](https://CRAN.R-project.org/package=MODIS) and hence no longer exists. Make sure to use the '

[2017-01-30 09:00] khufkens commented on #15
This still works:
ftp://ladsweb.nascom.nasa.gov/

[2017-01-30 09:12] fdetsch commented on #15
Now that was sorted out quickly, thanks @khufkens :-)

I changed the relevant LAADS FTP path in "inst/external/MODIS_FTPinfo.RData" and the problem should be fixed as of 10c14a71b6312634449f3dcfd94618ee82e5fa8a. @rokoeh, could you please re-install the 'develop' version and try it out yourself?

Here's my `sessionInfo()`:
[code]

[2017-01-30 09:32] khufkens commented on #15
I was looking at data recently, and was pretty sure it was still up (although at a different URL). Although I feared for a second that some EO might have taken stuff offline.

[2017-01-30 13:07] rokoeh commented on #15
Working just fine now, solved

[2017-01-30 14:02] #15 closed

[2017-02-06 17:56] b-p-liu opened #16 "Can't specify collection in runGdal"
Hello, I'm trying to process NDVI data in the MOD13Q1 dataset. However, the default collection is v5, whereas I want data from v6. However, if I try to specify the collection number the collection returns as false.

Code:
ext <- MODIS::getTile (tileH=11:13, tileV=3:4)
MODIS::runGdal(product="MOD13Q1", collection= "006", extent=ext, begin="2016.05.24", end="2016.10.14", SDSstring="1", resamplingTyp

[2017-02-08 22:00] MatMatt commented on #16
Using the development version it seems to work fine:

Updating collections from LPDAAC for platform: Terra
$MOD13Q1
[1] "005" "006"

please try to install:
devtools::install_github("MatMatt/MODIS", ref = "develop")

I guess it is connected to this LPDAAC related issue:
https://github.com/MatMatt/MODIS/issues/15

[2017-02-09 19:45] b-p-liu commented on #16
I was trying it with the development version.

The problem was not with the getCollection command. It is when I use runGdal either I specify collection= "006" and the it returns with collection=FALSE and no download occurs or I don't specify collection, then it downloads v5 instead of v6.

Strangely, it will always download v6 the next time the code is executed, due to the .auxiliaries folder, but

[2017-02-13 16:07] fdetsch commented on #16
Hm, using the [develop](https://github.com/MatMatt/MODIS/tree/develop) version, your code works perfectly fine for me for both LP DAAC and LAADS. Could you maybe provide the output of `sessionInfo()` and `MODISoptions()`?

[2017-02-13 16:58] MatMatt commented on #16
My doubt is that it is a intended behavior that is just a bit badly
communicated.

The ides is that the user has to actively update the getCollection 'file'
to enable a new collection. This is intended in order to not suddenly start
with a new collection without being aware of..

If you still have this issue (after calling): *getCollection('MOD13Q1',*
*newest=FALSE,forceCheck=TRUE)*, than it is a

[2017-02-13 18:00] b-p-liu commented on #16
It seems that I made an error of some sort when installing the develop version. I re-installed it and the code worked fine, sorry for the hassle.

[2017-02-13 20:22] #16 closed

[2017-03-15 21:09] Gilbert2015 opened #18 "Cannot downlaod MODIS swath"
Hello, MODIS swath cannot be download. It gives this error message:
Error in strsplit(path$remotePath$LPDAAC, "DATE") :
  non-character argument
In addition: Warning message:
In genString(x = product$PRODUCT[1], collection = col, local = FALSE) :
  genString() does not support multiple products! Generating 'path' for the first product:MOD14

[2017-03-16 04:59] MatMatt commented on #18
Hi,
Swath product are not supported, only gridded products.
Kind regards, Matteo

Am 15.03.2017 10:09 Nachm. schrieb "Gilbert2015" <notifications@github.com>:

Hello, MODIS swath cannot be download. It gives this error message:
Error in strsplit(path$remotePath$LPDAAC, "DATE") :
non-character argument
In addition: Warning message:
In genString(x = product$PRODUCT[1], collection = col, local = FALS

[2017-03-16 07:41] fdetsch commented on #18
I would rather say: not yet supported. I have a bunch of MODIS Swath related scripts lying around (download, extraction via GDAL) which I would love to add to **MODIS** until this year's [useR!](https://user2017.brussels/).
@MatMatt We should have a talk about that soon to coordinate further actions.
@Gilbert2015 Thanks for bringing this up, I will come back to you asap.

[2017-03-16 07:46] MatMatt commented on #18
Hi Florian,

okay! I also have some pre-MODIS-package scripts for the MOD02 and 03
download. I need to dug in my files and we can see were we stand!

Thanks, Matteo

2017-03-16 8:41 GMT+01:00 Florian Detsch <notifications@github.com>:

[2017-03-16 15:08] khufkens commented on #18
Some GDAL code that might help.

http://www.khufkens.com/2016/11/16/swath2grid/

[2017-03-16 16:19] Gilbert2015 commented on #18
thanks! Really want to commend you guys for the package.

Thanks,
Ayodele

On Thu, Mar 16, 2017 at 11:08 AM, Koen Hufkens <notifications@github.com>
wrote:

[2017-04-03 13:51] Gilbert2015 opened #19 "Error using MRT tool"
Hello,
I get this error whenever i try to use the MRTtool to download and reprocess my MODIS data. "Error in substr(sdsRaw[i], 1, 11) : invalid multibyte string at '<b2>'".
Can you please assist on what might be the issue.

[2017-04-03 14:25] fdetsch commented on #19
Hi @Gilbert2015, thanks for letting us know. Could you please provide your `sessionInfo()`, output of `MODISoptions()`, and function call to start MRT?

[2017-04-03 15:20] Gilbert2015 opened #20 "Cannot add MODIS Thermal Anomalies V006 (Burned Area)."
Hello,
I cannot find MODIS product that i tried to add. I use the steps below to add burned area version 006. But was not successful.
MODIS:::addProduct(product="MCD64A1", sensor = "MODIS", platform = "Combined", pf1="MOTA",
pf2="MOD", topic="Burned Area", type = "Tile", res ="500m", temp_res="Monthly",
internalseparator = "\\.", server ="LPDAAC",path_ext = "/Users/gogunkoya/Downloads/MODIS/extern

[2017-04-03 15:29] Gilbert2015 commented on #19
Hello,
Please find below:
sessionInfo()
R version 3.3.2 (2016-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X El Capitan 10.11.6

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] MODIS_1.0.0   raster_2.5-8  sp_1.2-4      mapdat

[2017-04-11 07:37] MagicForrest opened #21 "Can't download MOD44B V051 or V006"
First of all, thanks for the great package!  I really like it and find it very useful, but right now I am having an issue.

Yesterday I downloaded the whole of MOD44B V005 with no problems, but I can't get either V051 or V006 (which are what I actually need).  Here is what happens:

[code]

I can see both V006 and V051with getCollection().  I am also tried the dev version of the package, no luck.

[2017-04-25 05:32] jdeines opened #22 "Trouble specifying unique product for runGdal"
Hi,
I'm after the 'MOD15A2' product, which I've successfully used in pre-CRAN versions of "MODIS" in the past.  For the most recent version on CRAN, runGdal is failing after downloading tiles for the first date, but before it is able to produce an output composite raster.

I see 'runGdal' uses 'getProduct', and for this product, that returns two - MOD15A2 in collection 5 and MOD15A2H in collection

[2017-05-09 11:58] daliakopoulos opened #24 "NTSG down"
Hello, thank you for the great contribution.

It seems source NTSG (ftp://ftp.ntsg.umt.edu) no longer works (turned into a web service?) so MOD16 can't be downloaded.

[2017-05-10 08:56] daliakopoulos commented on #24
the solution is actually here:
https://gis.stackexchange.com/questions/165084/how-to-download-mod16-modis-evapotranspiration-image

[2017-05-10 08:56] #24 closed

[2017-05-11 05:14] fdetsch commented on #24
Great this solution has worked out fine. A lot of changes have been going on lately regarding the data structure and policy on both LP DAAC and NTSG. From the R side, this will all be fixed in an upcoming **MODIS** release which we hope will hit CRAN until this year's [useR!](https://user2017.brussels/).

[2017-05-21 10:22] mabdelrazek commented on #11
@fdetsch any updates about the parallel processing?

[2017-05-22 06:41] fdetsch commented on #11
Yeah, @MatMatt wanted to have a look into this within the next few weeks. We'll definitely have it back until this year's [useR!](https://user2017.brussels/).

[2017-05-22 09:25] mabdelrazek commented on #11
Thanks @fdetsch and @MatMatt , looking forward to that :-D

[2017-07-13 07:19] steven-higgins opened #25 "MRT path"
I get the following error message. I am using Linux Ubuntu/Mint. MRT is installed, but MODIS cannot find it and I am not sure where one can specify the path to it. I could of course install MRT to where MODIS is expecting to find it, but I am not sure where it is looking. Many thanks. Steve

MODIS:::checkTools('MRT')
Checking availabillity of MRT:
  'MRT_HOME' not set/found!  MRT is NOT enabled! S

[2017-07-13 07:37] fdetsch commented on #25
Hi Steve,

are the `MRT_HOME` and `MRT_DATA_DIR` environment variables setup properly? See also section 'Manual Installation' in the [MRT user manual](https://lpdaac.usgs.gov/sites/default/files/public/mrt41_usermanual_032811.pdf). In my case (Ubuntu 16.04 64-bit), for example, `MRT_HOME` is available from both the terminal
[code]
and inside R.
[code]

[2017-07-13 09:05] steven-higgins commented on #25
excellent tip. Its a new system and I had just installed MRT and needed to reload the .profile to make my system aware of the paths, or as the MODIS_MRT manual says "A system restart is advised to ensure the changes made during MRT installation take effect and the tools function as expected."
thank you for your help

[2017-07-13 09:16] fdetsch commented on #25
You are welcome. Just out of curiosity, are you actually processing your data through calling the MRT software from inside **MODIS** (via `runMrt()`) or are you using `runGdal()` instead?

The reason for why I am asking is that a while back, @MatMatt and me were discussing whether or not to retain MRT functionality in the package since neither of us was actually using it. In this regard, it would

[2017-07-13 09:21] steven-higgins commented on #25
I am actually preparing an exercise for teaching. Previously I had used the ModisDownload script and then MRT. I am trying to see if I can reproduce that workflow using your package, doing everything within R. At the moment I am slowly trying to learn the package. Once I have it working I would be happy to share my "tutorial" with you and give you feedback.  The aim is to do this in a way that doe

[2017-07-13 09:24] fdetsch commented on #25
That's a good point (: Just let us know when something is not working as expected - bug reports, enhancements, etc. are always welcome!

[2017-07-13 09:24] #25 closed

[2017-07-21 06:59] kimofos opened #26 "Error in !opts$quiet : invalid argument type"
Hello,
getHdf, runGdal and runMrt give the message above: Error in !opts$quiet : invalid argument type
is there a fix for that?
thanks

[2017-07-21 08:58] fdetsch commented on #26
Hi and thanks for letting us know. Unfortunately, I could replicate this behavior neither on Ubuntu Linux nor Windows 10 using the following code:
[code]
Could you please provide us with the output of `sessionInfo()`? For me, it's

[code]
after **MODIS** has been loaded.

[2017-08-10 10:29] kimofos commented on #26
Thanks @fdetsch for the fast reply

I tried your example and it worked, but runMrt still doesn't work:

    library(MODIS)
    MODISoptions()

    STORAGE:
    localArcPath : /Volumes/MODIS_EVI/1_HDFs
    outDirPath   : /Volumes/MODIS_EVI/2_Preprocessed
    DOWNLOAD:
    MODISserverOrder : LAADS, LPDAAC
    dlmethod         : auto
    stubbornness     : high
    wait             : 0.5
    quiet

[2017-08-10 10:30] kimofos commented on #26
forgot to add the session info

R version 3.4.1 (2017-06-30)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Sierra 10.12.3

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.4/Resources/lib/libRlapack.dylib

locale:
[1] de_DE.UTF-8/de_DE

[2017-08-14 16:05] Maria-da-Conceicao-Pereira commented on #20
Hello Gilbert2015,

I'm very interested to know if and how you managed to get over this problem, because I'm confronted with exactly the same problem and, in spite of having been busy with it for more than a week, I still haven't been able to solve it!

Looking at your message above I would say that the issue is not about adding a new server or collection, the only function that matters here is 'a

[2017-08-14 16:47] Maria-da-Conceicao-Pereira opened #27 "Failure in retrieving a new MODIS product, even after adding it"
Hello to all, especially developers,

In my analysis I have to use a new MODIS product, MCD64A1 V006 (Burned Area) but, in spite of the fact that apparently I've added it successfully, the package doesn't retrieve it correctly. I'll explain my procedure and problem below in more detail.

For the purpose of adding this new product I used the function 'addProduct':

`MODIS:::addProduct(product="MCD6

[2017-08-15 12:45] fdetsch commented on #27
Hi @Maria-da-Conceicao-Pereira,

`MODIS:::addProduct` and, similarly, `MODIS:::addServer` and `MODIS:::addCollection` mentioned in issue #20 (thanks for pointing this out) are meant to be used by developers only. As you have correctly noticed, these non-exported helper functions allow us to flexibly add new products (or servers, or collections) to the built-in look-up tables. The next time the pac

[2017-08-16 11:24] fdetsch commented on #27
Hi again,

as of commit 9b054e99b6c2fc9ef0d6e0d53c7e0c9b60c7de39, MCD64A1 should be available to all **MODIS** users. @Maria-da-Conceicao-Pereira, could you please run the below code snippet and verify? Please note that until the next official version update on CRAN, these changes will be available from the 'develop' branch only.

[code]

[2017-08-18 10:52] Maria-da-Conceicao-Pereira commented on #27
Hello @fdetsch,
first of all thank you for your prompt reply and help.

I installed the package devtools without problems:

`> library(devtools, lib.loc="D:/PhD/R_Project/Library", logical.return=TRUE)
[1] TRUE`

Next I run the code snippet you sent above but I still get an error and the desired product continues to not be recognised:

`> devtools::install_github("MatMatt/MODIS", ref = "develop")

[2017-08-22 06:44] fdetsch commented on #27
The installation of the most recent **MODIS** develop version failed in your case, see above error:

I ran `devtools::install_github()` on various systems now and it finished every time without any issue. In addition, all the subsequent function calls (ie `getProduct()`, `getCollection()`, `runGdal()`) worked. Maybe you could

* restart R and try it again;
* manually uninstall **MODIS** using `rem

[2017-08-30 17:57] Maria-da-Conceicao-Pereira commented on #27
Hello @fdetsch,
sorry for replying only now, in the meanwhile I had to divert to another line of work, which will still keep me busy for a few more days.
I'll implement your suggestions and get back to you, as soon as possible.
Best greetings,
Maria Pereira

[2017-09-13 16:44] Maria-da-Conceicao-Pereira commented on #27
Hello @fdetsch,
I've uninstalled everything (R, RStudio and packages), installed everything again, and finally it worked...! I couldn't discover exactly what was the problem, it could have been the fact that the most recent version of devtools was elaborated for a R version slightly more advanced than the one I had installed.
With the develop version of MODIS R installed, the new product is alread

[2017-09-13 17:19] Maria-da-Conceicao-Pereira commented on #27
Hello @fdetsch,
I forgot to mention above that I also tried to use runMrt, as a way around the error given by runGdal when applied from the develop version of MODIS, but it doesn't seem to me a good option because the version of the tool MRT seems outdated in the LP DAAC website (at least for Windows), and also because in the manual of MODIS R one of the arguments is said to be "not fully implemen

[2017-09-14 19:37] rokoeh commented on #26
I had this trouble. When I set quiet=T it works!

[2017-09-18 10:58] kimofos commented on #11
hi, is this function already re-implemented?

[2017-10-04 15:55] rokoeh opened #28 "Error in runGdal()"
I got some issues with runGdal():

runGdal(product = "MYD09GQ", tileH = 13,
        tileV = 11, begin = "2017.09.25",
         end = "2017.09.25", SDSstring = "0110000000",
         job = "any", outProj = "GEO", datum = "WGS84",
         pixelSize = "0.00225", mosaic = "T" , quiet=T)
########################
outProj          =  +proj=longlat +datum=WGS84 +ellps=WGS84 +towgs84=0,0,0
pixelSize

[2017-10-26 17:54] jac210 commented on #28
Hello,
Thank you for this package. I am also running into the same problem when trying to use runGDAL().

runGdal(product="MOD44B", collection = "006", begin= "2001001", end= "2001365", tileH = 0, tileV = 7, outProj="EPSG:4326")
########################
outProj  =  +init=epsg:4326 +proj=longlat +datum=WGS84 +no_defs +ellps=WGS84 +towgs84=0,0,0
pixelSize  =  asIn
resamplingType  =  near
Error in rg

[2017-11-15 11:06] Maria-da-Conceicao-Pereira commented on #26
I also encountered this problem. Like @rokoeh I added the argument 'quiet' from MODISoptions, set it to TRUE, and managed to execute the download I wanted (function getHdf). For example:
`# Year 2014
transDate(begin = "2014-01-01", end = "2014-12-30")
getHdf(product = "MCD64A1", begin = "2014-01-01", end = "2014-12-30", quiet = TRUE)`
Greetings

[2017-11-16 08:03] ndmsc opened #29 "Error in !out[a] : invalid argument type"
Hi,
When downloading MOD11C3 data using getHdf function from MODIS package I ran into this error:
Error in !out[a] : invalid argument type

This is the command I used:
b1 <- getHdf(product = "MOD11C3", begin = "2000.02.01", quiet=TRUE)

It downloads the first file and then the error occurs.
Basically, I want to download all monthly land surface temperature from February 2000 till current date.
Can

[2017-11-17 17:08] IlonaVi commented on #27
Dear @fdetsch,

I get the same error as @Maria-da-Conceicao-Pereira when I run runGdal:
`d<-runGdal(product="MOD13A1", begin="2014-06-01", end="2014-07-01", tileH = 15, tileV = 2, outProj="asIn")
# Error in rgdal::rawTransform(projfrom, projto, nrow(xy), xy[, 1], xy[,  : no arguments in initialization list`

I removed and re-installed MODIS and rgdal packages and restarted R. It didn't help.

This

[2017-11-21 14:49] mcdesignnl commented on #21
I have the same issue, another example:

[2017-12-01 16:04] admccurdy commented on #29
I get the same error when I run the above code or any of the getHdf() examples in the documentation. Any ideas would be much appreciated.

[2017-12-01 16:11] admccurdy commented on #29
To note the hdf files appear to download properly but then the command exits with the error.

[2017-12-05 23:09] rsmiller74 opened #30 "Error in runGdal.... GDAL not installed or configured....."
I have tried several potential solutions on stackover flow but none have resolved issue.  Same problem happens with version of MODIS on cran and also the developer version.

Skipping install of 'MODIS' from a github remote, the SHA1 (9b054e99) has not changed since last install.

Error in runGdal(product = product, begin = dates2$beginDOY, end = dates2$endDOY,  :
GDAL not installed or configured,

[2017-12-06 10:35] fdetsch commented on #29
Thanks @ndmsc and @admccurdy for reporting! And sorry for my late reply - I haven't been around for the last couple of weeks...

Unfortunately, I cannot reproduce said error:

[code]

not only downloads all required files, but also returns the list of output file names:

[code]

This works both on Windows and Linux. Here's my session info:

[code]

[2017-12-06 11:07] no1rabbit opened #31 "Error in !out[a] : invalid argument type"
Hi there,

I've been trying to process MOD13Q1 files with using MRT but I keep on getting the below error. Not sure what I'm doing wrong.
Error in !out[a] : invalid argument type

code below:

[code]

STORAGE:
_______________
localArcPath : C:/Users/rvds_/Desktop/MODIS/
outDirPath   : C:/Users/rvds_/Desktop/MODIS/

DOWNLOAD:
_______________
MODISserverOrder : LAADS, LPDAAC
dlmethod         : auto

[2017-12-06 11:35] ndmsc commented on #29
It's strange, I have installed R 3.4.3 and managed to get exactly the same environment as yours @fdetsch as shown by sessionInfo() hereafter. But the error is still there. MODIS_1.1.1 package is installed using devtools::install_github("MatMatt/MODIS", ref = "develop") otherwise install.packages() will install MODIS_1.1.0

Any help with this would be much appreciated.

R version 3.4.3 (2017-11-30)

[2017-12-06 17:00] fdetsch commented on #28
@rokoeh, @jac210 This should be fixed as of https://github.com/MatMatt/MODIS/commit/bf56291dd60bc4812410480ba2778cb480c5ab14. Can you please install the 'develop' version of the package and verify?

@jac210 Even with this bug-fix, you'll most likely encounter the following error:

MOD44B V006 (and also V051) is not available from LAADS (see ftp://ladsweb.nascom.nasa.gov/allData/6/), and moreover,

[2017-12-07 08:06] fdetsch commented on #29
Very strange indeed! What's your output of `MODISoptions()`? Here's mine:

[code]

[2017-12-07 08:25] fdetsch commented on #27
@Maria-da-Conceicao-Pereira, @IlonaVi This should be fixed as of https://github.com/MatMatt/MODIS/commit/bf56291dd60bc4812410480ba2778cb480c5ab14, see also issue https://github.com/MatMatt/MODIS/issues/28. Can you please verify, i.e. `devtools::install_github("MatMatt/MODIS", ref = "develop")` and then re-run your `runGdal()` related code? If this no longer causes problems, I will submit all relev

[2017-12-07 08:29] fdetsch commented on #30
Seems like the package is not able to detect GDAL. What's your output of `MODIS:::checkTools()`? Here's what mine looks like:

[code]

[2017-12-07 08:48] fdetsch commented on #31
The problem is related to `getHdf()`, which is running under the hood, rather then `runMrt()`, see issue https://github.com/MatMatt/MODIS/issues/29. Unfortunately, I can neither reproduce this behavior on Windows:

[code]

nor on Linux:

[code]

In addition, here's my output of `MODISoptions()` (Windows):

[code]

[2017-12-07 09:17] #3 closed

[2017-12-07 11:17] ndmsc commented on #29
Here is the output of MODISoptions()

  'MRT_HOME' not set/found! MRT is NOT enabled! See: 'https://lpdaac.usgs.gov/tools/modis_reprojection_tool'

STORAGE:
_______________
localArcPath : C:/RDMS/data_backup/
outDirPath   : C:/RDMS/tmp/

DOWNLOAD:
_______________
MODISserverOrder : LPDAAC
dlmethod         : auto
stubbornness     : high
wait             : 0.5
quiet            : FALSE

PROCESSING:
_

[2017-12-07 11:48] fdetsch commented on #29
Seems like the package is not able to find GDAL on your system. Is it in your 'Path' variable? For example, on my machine, the required GDAL executables are in `C:\Program Files\QGIS 2.18\bin` (that's the 'Path' entry) and `MODIS:::checkTools()` returns

[code]

[2017-12-07 16:02] admccurdy commented on #29
Missing GDAL was the problem for me. I feel a bit sheepish that I didn't figure that out. Thanks for the help @fdetsch.

[2017-12-07 22:43] no1rabbit commented on #31
Thanks @fdetsch for the fast reply
I kept on getting error after error with using runMRT but after installing QGIS standalone and correcting the GDAL path, I was able to process the images with runGDAL.
Thanks again!

[2017-12-07 22:43] #31 closed

[2017-12-08 07:54] fdetsch commented on #29
Glad to help. @ndmsc, does it work for you as well? See also https://github.com/MatMatt/MODIS/issues/31 that was related to the same error.

[2017-12-10 11:32] ndmsc commented on #29
Yes @fdetsch, GDAL was the problem and now it's working. What I don't understand is why getHdf function is looking for GDAL? I want to download MODIS data only without processing it ...

When I installed GDAL it caused tcltk package to fail. But this is another story.

Thanks for your help

[2017-12-10 12:04] fdetsch commented on #29
Indeed, this makes little sense. I'll have a look into it within the next couple of days.
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 10.12.17, 11:32, ndmsc <notifications@github.com> schrieb:
Yes @fdetsch, GDAL was the problem and now it's working. What I don't understand is why getHdf function is looking for GDAL? I want to download MODIS data only withou

[2017-12-10 17:59] MatMatt commented on #29
I think getHdf uses gdalinfo to do the integrity check. I'm not sure if switching off the check disables the requirement.

[2017-12-11 16:20] Maria-da-Conceicao-Pereira commented on #27
Hello @fdetsch<https://github.com/fdetsch>,

Thank you for your reply. In the meantime I had to look for other solutions, because I really had to move on, and I ended up pre-processing my images with MRT software itself. It was more lengthy and ‘manual’ than R, but it did the job. In the whole process I uninstalled GDAL (I had to install GDAL for python, with other requirements, while exploring a

[2017-12-12 08:30] fdetsch commented on #27
@Maria-da-Conceicao-Pereira, thanks for this comprehensive view, you definitely have a point there. Judging from various **MODIS** package issues related to this topic, it seems like there are still a lot of folks out there relying on MRT.

@MatMatt, as the creator of `runMrt()`, do you think you can get it going again? :-) There's still plenty of other stuff for me to take care of, and in fact, I

[2017-12-14 11:49] bart1 opened #32 "Unclear error when HDF4 support is lacking"
I just tried to get runGdal running on a osx machine, gdal2 gets installed there without HDF4 support. The problem is that checktools returns without an issue but the gdalOk variable gets set to false, I could only figure out by traceing my way throught the source that this was due to hdf4 support lacking. I think the error reporting here needs to be improved, by forexample throwing a warning here

[2017-12-18 14:51] fdetsch commented on #9
This is available as of e1c39b5c98981a2eda08ee126f59524e730d0552.

[2017-12-18 14:51] #9 closed

[2017-12-18 14:57] fdetsch commented on #10
Solved with the introduction of `lpdaacLogin()` (ceeb57906f3dc26a45e39fff3c784d9c97d810cf) and related adjustments in `getHdf()`.

[2017-12-18 14:57] #10 closed

[2017-12-20 02:15] rsmiller74 opened #33 "Failure to download MOD44A or MOD44B -- Error in if (FtpDayDirs[1] == FALSE)"
Looks like this is still unresolved?  I have updated MODIS as of Dec 19 and problem persists.

'+                 tileH=h.tiles, tileV=v.tiles,
'+                 begin=beg.date, end=end.date,
'+                 SDSstring=layers.vec, outProj=out.projection, overwrite=TRUE)
########################
outProj          =  +proj=longlat +datum=NAD83 +no_defs +ellps=GRS80 +towgs84=0,0,0
pixelSize

[2017-12-20 02:24] rsmiller74 commented on #33
In addition I have tried both the CRAN version and also github version

devtools::install_github("MatMatt/MODIS", ref = "develop", force=TRUE)
require(MODIS)

[2017-12-21 18:44] nbarsch opened #34 "getTile("Philippines") bug"
getTile("countrynamehere") works as far as I have found EXCEPT with getTile("Philippines")

Code:
getTile("Philippines")
Error in createPolygonsComment(p) :
  rgeos_PolyCreateComment: orphaned hole, cannot find containing polygon for hole at index 1

[2018-01-09 14:19] fdetsch commented on #34
Fixed as of https://github.com/MatMatt/MODIS/commit/1b14974063b371a69987e5ee218ee66f132b2d61. This error was actually related to some non-valid geometries in **maps**, which became evident when converting a particular 'map' object to 'Spatial*' and in preparation for `raster::crop()`. In fact, not only the Philippines, but also countries like Spain were affected, see for example

[code]

Anyway, t

[2018-01-09 14:19] #34 closed

[2018-01-09 15:04] fdetsch commented on #33
Please mind that MOD44A was [discontinued after 2002](https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/mod44a), and the data directory on LP DAAC is actually empty. Simply follow this link to see for yourself:

Due to the bare existence of this folder, `runGdal()` assumes that the corresponding tiles are still available online, but then collapses since it cannot find anything.

[2018-01-09 15:09] fdetsch commented on #30
@rsmiller74 Did you have the chance to run the above code?

[2018-01-09 15:13] fdetsch commented on #29
@ndmsc Did you try running `getHdf(..., checkIntegrity = FALSE)`? As pointed out by @MatMatt, this turns off the integrity check, meaning that `gdalinfo` is not invoked at all.

[2018-01-10 00:51] nbarsch commented on #34
Thanks fdetsch.

[2018-01-10 07:47] ndmsc commented on #29
@fdetsch Actually no. I downloaded the files using wget on Linux machine !!!

[2018-01-10 07:50] fdetsch commented on #29
Alright, then I just consider this issue as solved now.

[2018-01-10 07:50] #29 closed

[2018-01-10 09:50] #20 closed

[2018-01-10 10:02] fdetsch commented on #26
Fixed as of c6d49887321c97c647e5ce7196f165c95f7ecbd8.

[2018-01-10 10:02] #26 closed

[2018-01-10 10:04] #27 closed

[2018-01-10 10:04] #28 closed

[2018-01-10 10:07] #30 closed

[2018-01-11 16:11] fdetsch commented on #21
This has been solved as of f45eabbbdc2cef5bca83fc055ea4f220dbcf4db6 and 05ba75cd2c96acb5e998c980adc7d210a2e957e0, see also details in https://github.com/MatMatt/MODIS/issues/33 (in particular the part about `?lpdaacLogin` as MOD44B is available from LP DAAC only). The list of available collections for MOD44B currently staged at LP DAAC can be retrieved via

[code]

This is currently part of the 'd

[2018-01-11 16:11] #21 closed

[2018-01-11 16:17] fdetsch commented on #33
Done.

Since there are no files available from LP DAAC or LAADS, MOD44A has been removed from the **MODIS** list of products as of f45eabbbdc2cef5bca83fc055ea4f220dbcf4db6:

[code]

Moreover, LAADS is no longer available as download server for MOD44B. Even if LAADS is your default server as defined through `MODISoptions(MODISserverOrder = ...)`, the single tiles will automatically be retrieved fro

[2018-01-11 16:17] #33 closed

[2018-01-12 13:36] fdetsch commented on #22
Thanks for reporting this. There are actually several candidate products that likely cause this behavior:

[code]

@MatMatt, here's my suggestion: once a user specifies one of the products listed on the left side without including any additional regex symbols (like `*`), we assume that this is the intended target product, and hence, disable pattern matching. This might not be essential for a stand

[2018-01-12 13:59] fdetsch commented on #32
Sounds like the perfect opportunity for a pull request to me (in particular since I cannot test this on OSX) :-)

@bart1, would you like to take care of this using the current 'develop' branch as reference?

[2018-01-15 15:48] fdetsch commented on #22
Fixed as of a1ffc43659e1dc8d846d8e337c6f357ccd967b6f, can you please verify @jdeines?

[2018-01-19 14:44] PMoreno92 opened #35 "Issues using runGdal"
Good morning Matt,

 I am a beginner using the MODIS package and data. I have been trying to use runGdal to download and transform some MODIS data into geoTIFFs files. I did install OSGeo4W and the path is well set, but I did not install MRT as I was not planning to use it.

 I have been trying to download the code using:

[code]

 If I specify the tile I get the following message:

  no arguments

[2018-01-19 19:18] fdetsch commented on #35
Hi @PMoreno92,

you're almost there. Please mind that `SDSstring` understand strings that consist of 0 and 1 only. For example, if you want to extract the NDVI, EVI, and corresponding pixel reliability from each MOD13A3 .hdf file, you are required to enter the following:

[code]

This works both with (as shown in the example above) and without `tileH,tileV` specified. See also [MOD13A3 V006 | LP D

[2018-01-19 20:00] PMoreno92 commented on #35
Good afternoon Florian,

 This worked correctly. Thank you for your help.

 Have a nice day,
 Pablo

[2018-01-19 20:00] #35 closed

[2018-01-24 16:45] renaudmisslin opened #36 "Error in the detection of GDAL on LINUX"
Using the CRANN version of the MODIS package, the automatic availability check of `MODIS::MODISoptions()` seems to return an error in the detection of GDAL:

[code]

But when I use the `MODIS:::checkTools('GDAL')` command, GDAL is correctly found:

[code]

Would you have an idea of what coud be the source of this problem?

Thanks

[2018-01-26 10:45] fdetsch commented on #36
Hm, no problem over here. [**MODIS_1.1.2**](https://cran.r-project.org/web/packages/MODIS/index.html) has been released only recently, could you please try once again with this version? Here's my `sessionInfo()`:

[code]

[2018-01-29 11:57] safalabolo opened #37 "Downloading MOD16 data"
To download the data MOD16A2 collection 5 of NTSG, it appears that the site is gone, and everything is through http now:apparently the files are available only through
http://files.ntsg.umt.edu

Also interesting is the collection 6 of the same product, of NASA and 500 km:
https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/mod16a2_v006...as it would be possible to add this collect

[2018-01-29 15:04] fdetsch commented on #37
It's true that data download from NTSG is currently not working. I'll have a look into it!

However, in the long term, we must also ask ourselves whether a continued support for NTSG products still makes sense, not least because [MOD16](http://files.ntsg.umt.edu/data/NTSG_Products/MOD16/) (MOD17) have not been updated since 2015 (2016), and hence originate from an outdated collection anyway.

In t

[2018-01-29 16:57] safalabolo commented on #37
Dear Florian,
thank you very much for your feedback.
It's all clear and shareable.
Best Regards.

[2018-01-29 18:01] safalabolo commented on #37
Unfortunately, following your instructions
the connection attempt goes the loop

the credentials for lpdaac I think are the same for access to earthdata data?
https://urs.earthdata.nasa.gov/home

I attach the result of the run
All the best
[result.txt](https://github.com/MatMatt/MODIS/files/1674691/result.txt)

[2018-01-30 10:57] fdetsch commented on #37
Yeah, login credentials are the ones from Earthdata.

As regards the reported behavior, do you have wget and/or curl installed? As described in `?MODISoptions`,

[2018-01-31 15:12] safalabolo commented on #37
Dear Florian,
I enclose what has been done so far:

1)The curl has been installed and is working:
![image](https://user-images.githubusercontent.com/12288665/35629883-0ee4bb3e-06a0-11e8-9699-aca814079d3e.png)

2)If I repeat your operations I have the following error message:

Carico il pacchetto richiesto: mapdata
Carico il pacchetto richiesto: maps
Carico il pacchetto richiesto: raster
Carico il

[2018-02-01 13:36] MagicForrest opened #39 "water and fill values in MOD44B"
Thanks again for the great package, I really like it.  But unfortunately I have found an issue that might really hinder its usefulness, at least for me.  Of course I might have missed something....

When using GDAL on product MOD44B (and this might well affect other products) the codes for water (200) and fill (253) seem to be included in the interpolation as if they were real data.  This means th

[2018-02-02 14:20] fdetsch commented on #39
If I understand correctly, all that is required in order to solve this issue is to leave both the input CRS (ie. MODIS Sinusoidal) and pixel size of MOD44B untouched.

I just modified `getTile()` in such a way that, whenever a country name (passed to `maps::map()` behind the curtain) is specified as `extent`, the target CRS of all layers extracted through `runGdal()` is adopted from MODISoptions()

[2018-02-02 14:49] MagicForrest commented on #39
Hmmm... I can't really comment on the first part because I don't use the package in that way (either specifying tiles or country extents).  The second point is more relevant to me, but again not entirely, because it doesn't do any include any interpolation which is very important for my workflow.

My basic task is to compare MODIS data to my simulation outputs.  So, for this purpose I want to put

[2018-02-07 14:48] cherrytree456 opened #40 "MCD15A2H not downloading/processing all products?"
I'm downloading and processing [MCD15A2H](https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/mcd15a2h_v006) which is supposed to have 6 layers. When I use this package to download and project this product I only see three products: Fpar_500m, FparLai_QC, and FparExtra_QC.

[code]

R script
[code]

Console output
[code]
Session info:
[code]

[2018-02-07 15:31] cherrytree456 commented on #40
I'm sorry, I found the error in my code. I needed to change my SDString to 111111. Sorry to bother you w/ this issue.

[2018-02-07 15:31] #40 closed

[2018-02-08 08:20] fdetsch commented on #40
No worries, always glad to help. Maybe you should consider either deleting your [SO question](https://stackoverflow.com/questions/48569113/r-modis-packageremote-connection-failed/48580643?noredirect=1#comment84177563_48580643) or mark it as solved.

[2018-02-08 16:40] cherrytree456 commented on #40
Agreed, SO question deleted.

On Thu, Feb 8, 2018 at 2:20 AM, Florian Detsch <notifications@github.com>
wrote:

[2018-02-19 12:53] MagicForrest commented on #39
Hello again.  I realise I was a bit demanding and under-appreciative of your last response.  Sorry about that.

So I thought more carefully about it, and came to the conclusion that your solution would allow me to download and mosaic the data using your MODIS package which is still useful.  But then I would need to re-project and and resample it myself (after changing the water and fill values to

[2018-02-19 13:50] safalabolo commented on #37
Dear Florian,
the problem I had was solved!
Thanks again for the support!!
King Regards
Salvatore

[2018-02-22 14:36] julesair opened #42 "MOD10/MYD10 datasets from https server"
As far as I understand both these datasets are only available via https from the nsidc.org server. After authentication with an earthdata login, one can access the server. The structure looks like this:
https://n5eil01u.ecs.nsidc.org/MOST/MOD10A1.006/2018.02.20/MOD10A1.A2018051.h16v00.006.2018053031507.hdf

Is there any chance, that this product can be added although it is not an ftp server?

[2018-04-05 12:47] t-stratmann opened #43 "Error in lst_todo[[1]] : subscript out of bounds"
First of all, thank-you for this great package!!! It has saved me a lot of time! I just have a question. Last week I was able to successfully use the runGdal function and download HDF files, stitch them, and convert to TIFF. Now I am working in a different area and am getting a confusing error.  All it says is "Error in lst_todo[[1]] : subscript out of bounds" The error message is not really enoug

[2018-04-06 05:56] WillemVervoort commented on #37
Hi Salvatort and Florian
I am having similar problems, in particular,  the urs.earthdata.nasa.gov fails to authenticate me:
Resolving urs.earthdata.nasa.gov (urs.earthdata.nasa.gov)... 198.118.243.33
Connecting to urs.earthdata.nasa.gov (urs.earthdata.nasa.gov)|198.118.243.33|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized

Username/Password Authentication Failed.
Remot

[2018-04-07 13:53] gregor-d opened #44 "Download error, "Remote connection failed""
I get connection errors when I try to excute runGdal. It worked fine just 3 weeks ago.
I tried with CRAN version and Developer Version of MODIS on two different PCs using two different Earthdata-accounts, both working on the homepage. Is this a problem with me, the package or the MODIS-servers?

**This is the error message:**
[code]
**If I try the other example provided in the runGdal help, I get

[2018-04-08 23:47] WillemVervoort commented on #10
Hi all, this remains a problem. I have used lpdaacLogin() and have no problem with creating netrc
Windows,  R3.4.3

I am also logged in into Earthdata via a web browser
MODISoptions(MODISserverOrder = "LPDAAC")

product = "MOD16A2"
lpdaacLogin()

hdf = getHdf("MOD16A2", begin = "2017.01.01", end = "2017.01.10",
              tileH = 21, tileV = 8)
hdf

Resolving urs.earthdata.nasa.gov (urs.earthda

[2018-04-09 10:44] WillemVervoort opened #45 "LP DAAC access Username/Password Authentication lpdaacLogin"
Sorry, I first posted this in a "closed" issue, I think I need to open a new issue

Hi all, this remains a problem. I have used lpdaacLogin() and have no problem with creating netrc
Windows, R3.4.3

I am also logged in into Earthdata via a web browser
MODISoptions(MODISserverOrder = "LPDAAC")

product = "MOD16A2"
lpdaacLogin()

hdf = getHdf("MOD16A2", begin = "2017.01.01", end = "2017.01.10",
tile

[2018-04-11 07:16] rrushi commented on #44
I had the similar issue with rungdal.

R version 3.4.4 (2018-03-15)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:

[2018-04-11 11:06] WillemVervoort commented on #45
This is the same issues as #44

[2018-04-11 11:06] #45 closed

[2018-04-12 07:10] calvus17 opened #46 "Possible error during unpacking of MOD13Q1 hdf files?"
I have just updated to the new version 1.1.2 of the package and downloaded with runGdal MOD13Q1 hdf files (e.g. MOD13Q1.A2018081.h19v04.006.2018097234738.hdf). The hdf seems to be OK, but the unpacked NDVI layer is strange, the dimension and resolution differs from the images created by the previous version of the package. What could be the problem?
Thanks for helping!

The modis package extracted

[2018-04-12 08:14] mxschwarz opened #47 "runGdal Download Error: "Problems with online connections try a little later""
I used the MODIS package and run gdal to download MODIS-data for the last one and a half weeks and had no problem with it. Since Friday (06/04/18) ~4:30 i get a connection error when running the command. I started a script and it was fine for two hours but stopped at the time mentioned above and since then i cant get it started again without getting Download errors.

1.)

runGdal(product = "MOD09A

[2018-04-15 19:47] gregor-d commented on #44
For me It is working. The LPDDAC server still gives a connection error, but the download over LAADS is working fine (for now)

[2018-04-16 04:40] rrushi commented on #44
It's working fine now.

[2018-04-16 05:26] WillemVervoort commented on #44
I am afraid it is still not working for me. LAADS is indeed working, but they don't seem to have access to MOD16A2, which I am after. LPDAAC is still giving a connection error.

[2018-04-19 21:56] #44 closed

[2018-04-20 04:56] nhoyos opened #48 "Error with extractBits function on MOD15A2H QC layer"
I used the extractBits function on MOD15A2H QC layer (MODLAND_QC parameter) and compared it to the output from the unpack_sds_bits LDOPE tool and realized they were quite different. I ran extractBits using:
extractBits(QCraster, bitShift=0, bitMask=1, decodeOnly=TRUE)

After careful inspection, I found that when the QCraster has a decimal value of 0, the extractBits output has a value of 1 for MOD

[2018-04-20 14:05] fdetsch commented on #43
Hi,

Sorry for the delay. The answer here is rather simple: there exists no file for the specified time period from "2017325" to "2017336", see [here](ftp://ladsweb.nascom.nasa.gov/allData/6/MOD13Q1/2017/):

![Imgur](https://i.imgur.com/iH5seqm.png)

The file for "2017321" might include some values for this time range since we are dealing with 16-day composites here. However, the file search is pe

[2018-05-02 14:48] MatthiasSiewert commented on #36
Had the same problem on Ubuntu 16.04. R 3.4.4

[code]

Was resolved after running:

[code]

[2018-05-07 07:53] t-stratmann commented on #43
Thanks for taking the time to look into this and fixing the error message!!! Much appreciated. So the key is to make sure to give dates that match with the 16 day composite dates? I think this used to not matter, since "2017325" to "2017336" fall within the 321 16-day composite, the files in the 321 folder would be downloaded.

[2018-05-08 05:04] fdetsch commented on #43
Yeah, exactly. On second thought, maybe an automated reset of user-defined dates to the 16-day composite periods could indeed be of added value. I'll think about it and then come back to you!

[2018-05-09 07:29] t-stratmann commented on #43
That could be really cool / easy! But a clear statement that one needs to match the MODIS scene dates would definitely be easier. Just extremely thankful your package exists!

[2018-05-17 08:05] Piso67 opened #49 "Error in getHdf only on Windows"
When i'm running my MODIS Download R script on my Windows, i'll get this error :

    `############################
    Remote connection failed! Re-try: 49
    Getting file from: LPDAAC
    ############################`
After this, the script crashes because it tried to do gdalinfo on an inexisting image.
I'm just doing getHdf function on LPDAAC servers using my EarthExplorer Username and Passwor

[2018-05-25 22:06] fischhoff opened #50 "getHDF cannot open connection"
Hello! Apologies if this issue has already been raised elsewhere -- I didn't see it in the list.

I'm hitting an error with getHDF:
b1 <- getHdf(product = "M.D11A1", begin = "2016.12.01",  tileH = 18:19, tileV = 4)

cannot create dir '/var/folders/0d/qm_pqljx11s_ddc42g1_yscr0000gn/T/RtmpQjGo6F/MODIS_ARC/PROCESSED/.auxiliaries', reason 'No such file or directory'cannot create file '/var/folders/0d/

[2018-06-30 14:47] Lynettelaw commented on #37
Hello, everyone.

I am also trying to download MOD16A2 data in R script and I came across exactly the same problem with Safalabolo and Willem (Username/Password Authentication Failed. Remote connection failed! Re-try: 1 ), even if I have successfully installed wget.

Dear Safalabolo, Could you please share how you finally solve this problem?

Thanks and best regards,

Lynette

[2018-07-02 09:02] Lynettelaw commented on #45
Dear Willem,
I have exactly the same problem with you. May I know if you have solved this?

Thank you very much!

[2018-07-02 10:35] WillemVervoort commented on #45
I didn't I took another approach, you will have to e-mail me directly if
you want me to share
I'll need to dig it out somewhere

willemvervoort@gmail.com

On Mon, Jul 2, 2018 at 7:02 PM, Lynettelaw <notifications@github.com> wrote:

[2018-07-06 05:35] fdetsch commented on #43
Starting with 3cac4832279b7c285bba161fd5509cb2af01113f (`runGdal()`) and 1a928a693ec4e89530beca699633bcf4da71558b (`getHdf()`), 'begin' is now reset to the start date of the corresponding composite period (e.g. start of 16-day cycle for MOD13Q1). In addition, a warning is printed to the console:

[code]

Can you please install the 'develop' version via `devtools::install_github("MatMatt/MODIS", re

[2018-07-06 05:53] fdetsch commented on #39
Merged your pull request with 5533ca57f9348f2c8ee9ea875cad26eb3a63c72e, sorry for the delay. 'maskValue' works like a charm, thanks for that. Until the next CRAN release, this'll be available from 'develop' only. Note that I added your name to the list of contributors in [DESCRIPTION](https://github.com/MatMatt/MODIS/blob/develop/DESCRIPTION) and `?runGdal`, hopefully that's okay for you.

I'll le

[2018-07-06 05:59] fdetsch commented on #22
Closing this issue. If `getProduct()` finds a perfect match, only this product is returned:

[code]

If you'd like to find any product starting with "MOD15A2", please include `*`:
[code]

[2018-07-06 05:59] #22 closed

[2018-07-09 07:09] t-stratmann commented on #43
Installed. Tried the "giraffe" example and a different extent and date (also not set to the beginning of the MODIS scene) and it worked! Both times I got a warning, but it downloaded the MODIS scenes which make sense for the dates given:

Warning message:
In correctStartDate(tLimits$begin, sel, prodname) :
  Resetting 'begin' to start of corresponding MOD13A1 16-day composite period (2017-11-17).

[2018-07-09 08:49] fdetsch commented on #43
Great, then I consider this solved!

[2018-07-09 08:49] #43 closed

[2018-07-10 08:10] fdetsch commented on #43
A small addition as of 9be254a1365ddcd567998eff53284834cad3d24c on branch 'sinusoidal' (heavy development going on lately...): These warning messages can now be disabled through `MODISoptions(quiet = TRUE)`.

[2018-07-11 05:54] jdeines commented on #22
Looks great, thanks!

[2018-07-11 08:02] fdetsch commented on #46
Awesome, thanks for reporting &ndash; and sorry for the long delay.

Dimensions and resolution issues should be fixed as of 72fac2d when working with 'tileH,tileV':

[code]

Moreover as of 0ab9a66, this also works for spatial subsets defined as Extent or bbox objects from **raster** and **sf**, respectively.

[code]

@calvus17 you're working on a Linux OS, right? Could you please test the above co

[2018-07-11 08:42] fdetsch commented on #47
LAADS FTP was [shut down in early April 2018](https://ladsweb.modaps.eosdis.nasa.gov/alerts-and-issues/?id=23569) and its entire data collection migrated to HTTPS, which is likely the reason you couldn't establish a connection. Starting with 61fd924100cc9c0d5e99a20b3e39af02f1a2c934, this shift has been incorporated in **MODIS**.

Be that as it may, you won't find any files for `tileH = 10, tileV =

[2018-07-11 08:42] #47 closed

[2018-07-11 15:15] fdetsch commented on #48
@MatMatt `extractBits()` is your creation and I've never worked with it. Do you want to take a look into this?

[2018-07-11 15:22] fdetsch commented on #49
There have been some changes to `getHdf()` lately, could you please re-run your code and see if it works now? Alternatively, data download from LAADS, which migrated to HTTPS, is now re-enabled in **MODIS**. Hence, you could try this with `MODISoptions(MODISserverOrder = c("LAADS", "LPDAAC"))` as well. Just make sure to install the current 'develop' version as these changes not on CRAN, yet:

[cod

[2018-07-12 07:04] calvus17 commented on #46
Thank you for your reply!
I tried the above code but unfortunately I got the same results as before. The x coordinate deviate from the y, latter seems to be good. I will try it later on an other computer. I use R studio Version 1.1.442 with R 3.4.4.
Kind regards,
Norbert

 tfs = runGdal("MOD13Q1", begin = "2018081", end = "2018081"
+               , tileH = 19, tileV = 4, SDSstring = "100000000000

[2018-07-12 07:58] fdetsch commented on #46
Hm, I cannot reproduce that...

But you did install the **MODIS** 'develop' version before running the code (see first commented line in my first code chunk), right? In addition, what's your output of `sessionInfo()`.

[2018-07-12 08:41] MatMatt commented on #48
Ok! I'll look into that!

[2018-07-12 08:55] calvus17 commented on #46
OK, I missed that line, it works now perfectly!
Thanks a lot!

[2018-07-12 09:13] fdetsch commented on #46
Great, glad it finally works. Again, thanks for notifying - it's really important that we fixed this!

[2018-07-12 09:13] #46 closed

[2018-07-12 14:35] MatMatt commented on #48
@nhoyos

I found a quite worrisome bug in the [bit extraction functions](https://github.com/MatMatt/MODIS/blob/develop/R/makeWeights.R). But I think it is not related to your issue: The encoding seems to be correct.

Please install the dev version to use the latest functions and use this code example below (change the selected tile if you wish), and report it in a way to allow us to easily reprodu

[2018-07-13 10:29] fdetsch commented on #39
Multiple No Data Values are now available from the 'develop' branch. @MagicForrest Could you please try out the following:

[code]

In [MCD15A2H](https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/mod15a2h_v006), there is a pre-defined No Data Value (255) plus a couple of fill values (249 to 254). Actually, it wouldn't matter if you just defined `maskValue = 249:255` - the packag

[2018-07-17 09:39] fdetsch commented on #42
MOD/MYD10 and MOD/MYD29 products are now supported in 'develop'.

[code]

[2018-07-17 22:18] nbarsch opened #51 "Invalid connection with getHdf (using most recent dev MODIS version)"
`m17 <- getHdf(product = "M.D17A3", begin = "2013.01.01", tileH = 20:21, tileV = 9)`

Error message:
Updating collection from LPDAAC for product: MOD17A3
No end(-date) set, getting data up to the most actual
Error in if (FtpDayDirs[1] == FALSE) { :
  missing value where TRUE/FALSE needed
Error in close.connection(file) : invalid connection

[2018-07-18 06:02] fdetsch commented on #51
Fixed as of 227e0b1f00ca98d5dee81eb51dbb18e56f458de5, can you please verify?

[code]

[2018-07-23 09:50] Piso67 commented on #49
Thanks, LAADS works well now. I will try as soon as possible on Windows.

[2018-07-24 21:06] Fay07 commented on #37
When I run the getHdf and getCollection function, there is also an error returned.
 " Error in dirs[ids]: invalid subscript type 'list'."
Any who could possibly share how to solve it? Thanks!

[2018-07-25 05:07] fdetsch commented on #37
Using the develop version, `getCollection()` works as expected:

[code]

Sorry, I cannot test `getHdf()` right now. I'll report back on the results later!

[2018-08-01 08:39] fdetsch commented on #39
Any updates on the netCDF part? I'll probably test it on my machine later this day to see if this is somehow related to **MODIS**.

[2018-08-01 08:43] #49 closed

[2018-08-01 08:44] fdetsch commented on #48
@MatMatt, any insights from the colleague you wanted to contact on this?

[2018-08-01 08:45] #42 closed

[2018-08-01 08:51] fdetsch commented on #36
The availability of GDAL is now checked automatically whenever the package is loaded through

[code]

included in [zzz.R](https://github.com/MatMatt/MODIS/blob/develop/R/zzz.R).

[2018-08-01 08:51] #36 closed

[2018-08-01 09:00] fdetsch commented on #32
From now on, a `warning()` is thrown when HDF4 support is lacking.

[2018-08-01 09:00] #32 closed

[2018-08-01 14:15] #51 closed

[2018-08-01 15:01] fdetsch opened #52 "Warnings when 'dataFormat = "netCDF"'"
As indicated by @MagicForrest in #39, trying to write .nc output files, for example

[code]

, throws the following (GDAL related) warnings:

. The compression parameters

[code]

passed to `gdalwarp` are apparently not valid. Moreover, the netCDF write driver doesn't seem to recognize the target spatial reference system

[code]

. Using an 'outProj' other than default 'asIn', for example

[code]

[2018-08-01 15:02] fdetsch commented on #39
Closing this issue since multiple mask values are now available. Moved the netCDF discussion to a new issue #52.

[2018-08-01 15:02] #39 closed

[2018-08-01 15:03] fdetsch commented on #50
@fischhoff, any updates on that matter?

[2018-08-01 15:12] fdetsch commented on #37
Using the newest develop version,

[code]

retrieves the desired data:

[code]

. Note that MOD16A2.006 is now available from both [LAADS](https://ladsweb.modaps.eosdis.nasa.gov/archive/allData/6/MOD16A2) and [LP DAAC](https://e4ftl01.cr.usgs.gov/MOLT/MOD16A2.006/). However, it seems like the product series no longer receives updates on NTSG, which is why this download server is no longer supporte

[2018-08-01 15:12] #37 closed

[2018-08-01 15:46] MatMatt commented on #52
What about putting **compress=lzw** and  **predictor=2** into .MODISopts.R?

The projection issue is not clear to me:
`Warning 1: projection name Sinusoidal in not part of the CF standard, will not be supported by CF!
Error in rgdal::rawTransform(projfrom, projto, nrow(xy), xy[, 1], xy[, :
no arguments in initialization list`
How can we specify Sinusoidal for the output then? Is it a matter of ref

[2018-08-01 16:10] MatMatt commented on #48
I think we can close this issue. The changes in dev should also solve the error found by @nhoyos.
MODLAND_QC is a binary mask 0/1. The 1 found by @nhoyos comes from those cases where all 5 'layers' in FparLai_QC have value 0.
This was erroneously interpreted as NA by `extractBits` (instead of highest quality) and the maximum value 1 (in case of MODLAND_QC was given) was assigned consequently. This

[2018-08-01 16:53] #48 closed

[2018-08-02 00:36] fischhoff commented on #50
Hi @fdetsch thanks for looking into this and sorry for the slow response! I am working on getting the MODIS reprojection tool on my Mac so I can give this a proper test.

[2018-08-03 12:13] MagicForrest commented on #52
Hi, thanks for picking this up!  Since it has been reproduced and is GDAL-related there is not much I can do to help at the moment (I am not particularly good with GDAL).  But if there is, just let me know, especially if you want linux testing etc.

[2018-08-08 23:22] Fay07 opened #53 "Setting projection and pixel size still does not get the right pixel size"
Hi! I want to get MOD11A2 for China. So I have tried to set the projection I want and also define the pixel size as the product (1000 meters). But the resolution of the tiff file I got is still around 650 meters. Is there anyone how knows how to fix this problem? Thanks.

[code]

[2018-08-09 00:00] Fay07 commented on #53
Looks like there are two issues when I'm trying to reproject - i) extent defined with name (e.g. extent = "Cambodia") and ii) pixelSize defined as numeric.
The following example adapted from help(runGdal) resamplingType examples doesn't work (returns GDAL error "Attempt to create 0x0 dataset is illegal,sizes must be larger than zero"):
[code]

But the following works:
[code]

[2018-08-15 14:45] mstrimas opened #54 "Global extent GDAL problem"
I'm using v1.1.3 with GDAL 2.1.3, I don't have MRT. Trying to produce a global MODIS landcover raster using the following code:

[code]

All tiles are downloaded correctly and everything appears to work fine, but when I look at the raster it's the correct height by only 1 cell wide:

[code]

[2018-08-15 19:46] MatMatt commented on #54
Hi I am just guessing now, but as you do global coverage, try without
extent at all.

Matt Strimas-Mackey <notifications@github.com> schrieb am Mi., 15. Aug.
2018, 16:46:

[2018-08-15 20:57] mstrimas commented on #54
With no extent given it opens an interactive map to pick tiles.

[2018-09-10 10:49] fdetsch commented on #53
Using the current 'develop' version, I cannot reproduce the ~650 m pixel size issue; my output pixel size is 1000 m, just as desired:

[code]

<hr>

The second issue should also be resolved now, `runGdal()` creates the desired outcome both for country name and shapefile inputs. Mind that the spatial extents, and hence dimensions slightly differ due to differences in the underlying **maps** and GAD

[2018-09-10 10:49] #53 closed

[2018-09-10 12:45] fdetsch commented on #50
In fact, you don't need the MRT for testing. A valid GDAL installation should be sufficient.

[2018-09-11 07:56] fdetsch commented on #54
This seems to be related to `outProj = 'asIn'` (ie. target projection is MODIS Sinusoidal). Using `outProj = '4326'`, the output looks almost like expected. Note that I tested this with MOD13A3.006 which requires a little less memory and computation power.

[code]

However, I wonder why `xmax` of the resulting mosaic extends minimally beyond the dateline. I'll keep investigating and come back to y

[2018-09-21 00:06] tbiggsgithub opened #55 "MRT error, $ operator not defined."
Hello, thank you in advance for your help!
When running "runMrt" I get "Error: $ operator not defined for this S4 class".
Here are the session info, MODISoptions, and MRT call (this MRT call is copied from the MODIS user manual):

R version 3.4.0 (2017-04-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=Eng

[2018-09-21 06:46] fdetsch commented on #55
Thanks for reporting. This has recently been fixed in 'develop' and will soon be submitted to CRAN. Until the next update, simply use the development version :

[code]

[2018-09-21 06:46] #55 closed

[2018-09-29 00:11] BenMDawson opened #56 "HDF4 driver seems to be lacking. Please install GDAL with HDF4 support."
When I run the MODIS command to find GDAL:
[code]

However,
[code]

When I first run the code I get an error: `HDF4 driver seems to be lacking. Please install GDAL with HDF4 support.`

Though in terminal (I'm on a mac) I get:
[code]

About my R environment

R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS High Sierra 10.13.6

[2018-10-01 00:45] BenMDawson commented on #56
I needed to point to a different GDAL package (using conda).

[2018-10-01 00:45] #56 closed

[2018-10-01 15:44] fdetsch commented on #56
Always glad to receive feedback from macOS users. Let us know if you encounter any further difficulties.

[2018-10-04 23:11] BenMDawson commented on #56
It doesn't return anything - making me think that it doesn't find `gdalinfo`.

[2018-10-04 23:28] fdetsch commented on #56
Ah sorry, I meant `intern = TRUE` - in case gdalinfo couldn't be found, this should print an error to the console.

[2018-10-04 23:35] BenMDawson commented on #56
[code]

[2018-10-04 23:43] fdetsch commented on #56
Hmm, seems indeed like R cannot find it. Have you already tried any of the solutions provided [here](https://gis.stackexchange.com/questions/130710/system-call-gdal-function-in-r-on-mac)?

[2018-10-05 20:32] BenMDawson commented on #56
I have it working, and I pretty much followed the link you have provided above. The directions I provided above solve the issue. I have `MODIS` working perfectly now - thank you for the great package.

[2018-10-08 06:56] fdetsch commented on #56
Thanks, really appreciate it! Glad to hear this worked out for you.

[2018-10-14 13:32] gktech commented on #50
Hello, I am having the same or a similar issue on Windows:

[code]

Tried running **RStudio as administrator** to circumvent possible permission problems.

Regards, Georg

[2018-11-25 13:18] goumengmeng opened #57 "Output results were empty"
Hello
I got an confusing error while trying to download MODQ13 files. By using the following code and found that the corresponding path were empty~
library(MODIS)
MODISoptions(localArcPath = "C:/temp/MODIS",
             outDirPath = "C:/temp/MODIS/processed",
             MODISserverOrder = c("LAADS", "LPDAAC"),
             gdalPath = "C:/OSGeo4W64/bin/")
cll <- getCollection(product = "MOD13Q1"

[2018-11-26 12:42] fdetsch commented on #57
Sorry, but I fail to replicate the first issue. On my machine, everything runs smoothly (tested with both the current CRAN and most recent '[swath](https://github.com/MatMatt/MODIS/tree/swath)' release). Here's my `sessionInfo()`:

[code]

Can you maybe include your `sessionInfo()` and the corresponding error message thrown after running your first code chunk?

The second piece of code shouldn't f

[2018-11-28 08:32] goumengmeng commented on #57
Thanks for your patient reply. Here's my sessionInfo()：
R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=Chinese (Simplified)_People's Republic of China.936
[2] LC_CTYPE=Chinese (Simplified)_People's Republic of China.936
[3] LC_MONETARY=Chinese (Simplified)_People's Rep

[2018-11-28 09:14] fdetsch commented on #57
How about setting `MODISoptions(MODISserverOrder = c("LPDAAC", "LAADS"))` &ndash; does this solve your problem? Otherwise, I could only imagine that this is some kind of firewall/proxy issue.

[2018-12-11 14:10] elisabeth-huellbusch opened #58 "Error using getHdf: Error in setPath"
Hello

I am trying to download a series with `getHdf()`:
`getHdf(product="MOD13A2",
 		tileH=18,
 		tileV=4,
 		begin="2000.07.01",end="2000.07.15")`

While on my Linux system this works perfectly well, I get an error when trying to do the same on Windows (personally I am working with Linux, but we want to use the MODIS package in a course where the students are going to work on Windows).

Though

[2018-12-18 14:20] zozlak opened #59 "The MODIS grid seems to be shifted leading to wrong results returned by the getTile()"
I was searching for MODIS tiles intersecting with my regions of interest
[code]
The result should be h21v08, h21v09, h22v08 & h22v09 but only last two are returned.

While investigating the `getTile()` function I exported the MODIS grid used by the package (the `sr` variable in https://github.com/MatMatt/MODIS/blob/master/R/getTile.R#L277) and compared it in the QGIS with a few MODIS HDFs (MOD09A1

[2018-12-19 19:35] lweber2 opened #60 "MODIS data extraction at given coordinates"
I'm trying to extract MODIS PAR radiation data at specific locations, however, my code always returns NA.

The issue seems to be that I'm not using the location information from the tile correctly.

I have posted the question on stackoverflow a couple of days ago: https://stackoverflow.com/questions/53834988/extract-modis-data-at-coordinate.

Here's a reproducible example:

[code]

[2018-12-21 08:02] fdetsch commented on #60
Why not use `runGdal()` and extract relevant layers right away, instead of downloading the raw HDF files and rasterizing single layers manually through GDAL? Here's a slightly adjusted code that runs on my machine using the current **MODIS** CRAN release.

[code]

BTW, you can simply pass the latlon `Extent` object on to `runGdal()`, ie. there's no need to do all the `getTile()` stuff manually:

[

[2018-12-21 09:01] lweber2 commented on #60
Thanks for this approach. However, if I run this code, I'm getting the error `GDAL not installed or configured, read in '?MODISoptions' for help`.

I'm not quite clear why it fails, since GDAL is installed, and when I just run `MODIS:::checkTools("GDAL")`, it says `OK, GDAL 2.2.1, released 2017/06/23 found!`

Any idea?

Here's my session info:

[code]

[2019-01-02 10:48] fdetsch commented on #60
Can you please include the console output created by `MODISoptions()`?

[2019-01-02 12:19] fdetsch commented on #60
Tough one. Can `gdalinfo` be found from within R? On my machine, the `system()` call returns the following:

[code]

@MatMatt, any thoughts about that?

[2019-01-02 15:02] fdetsch commented on #59
I agree that this needs further investigation. The boundaries in `MODIS:::sr` and actual G-Polygon coordinates from the granules' metadata differ quite a bit. Until this is fixed, one possible workaround would be to extend your target spatial extent, for example by 0.5 degree. This makes sure that all adjacent tiles are downloaded as well. Finally, just `crop()` the downloaded and extracted images

[2019-01-04 21:43] zozlak commented on #59
@fdetsch thanks for the advice.

[2019-01-07 08:39] lweber2 commented on #60
I think I found the issue. The GDAL installation doesn't support HDF4. In `MODIS:::checkGdalDriver(path = "/usr/bin/")` the warnings are disabled and accordingly the message is hidden.

[2019-01-07 22:35] fdetsch commented on #60
Thanks for notifying, I'll have a closer look at the HDF4 driver detection within the next couple of days!

[2019-01-08 17:08] fdetsch commented on #60
Troubleshooting in case of missing HDF4 drivers should be much easier now, thanks for the help!

[2019-01-08 17:08] #60 closed

[2019-01-11 12:58] elisabeth-huellbusch commented on #58
I tried again using the develop version and got the same.
[code]

Here's the session info:
[code]

[2019-01-25 14:47] gregrz opened #61 "getSds returning wrong SDS"
Maybe I'm mistaken but the `getSds` function appears to return wrong values when the `SDSstring` argument is provided. In my case I was querying MOD13Q1.006 HDF files and no matter which SDS I provided as argument it returned `"250m 16 days NIR reflectance"` in the `$SDSnames` slot and `"0 0 0 0 1 0 0 0 0 0 0 0"` in the `$SDSstring` slot. To my understanding in the function definition of `getSds`

[2019-02-06 18:19] bcosentino opened #62 "Error downloading MOD10 data"
Thanks for offering this great resource. I'm unable to download MOD10 data when using runGdal but have no trouble with other MODIS datasets. I tried downloading MOD10A2 using code from a [previously resolved issue](https://github.com/MatMatt/MODIS/issues/42):

[code]

My session info is below:

[code]

[2019-02-11 17:02] #62 closed

[2019-02-21 12:00] ndmsc opened #63 "MODIS package loading error"
Hi,
I was using MODIS package in R-3.5.1 without any issue. Now I am trying it on a new Laptop with R-3.5.2 and got the following error when loading the package:
Error: package or namespace load failed for ‘MODIS’:
 .onAttach failed in attachNamespace() for 'MODIS', details:
  call: eval(parse(ifelse(file.exists(optfile), optfile, tmpopt)), envir = opts)
  error: object 'FA' not found

Can you ple

[2019-02-27 21:45] fischhoff commented on #50
@fdetsch Apologies for the long delay!
[code]
'outDirPath' does not exist and will be created in '/var/folders/0d/qm_pqljx11s_ddc42g1_yscr0000gn/T/RtmpW0ftDL/MODIS_ARC/PROCESSED/'.
HDF4 driver seems to be lacking. Please install GDAL with HDF4 support.  'MRT_HOME' not set/found! MRT is NOT enabled! See: 'https://lpdaac.usgs.gov/tools/modis_reprojection_tool'

I'd appreciate any advice on getting H

[2019-03-20 17:30] mstrimas opened #64 "runGdal subscript out of bounds error with v1.1.5"
The following code works fine in 1.1.4, but gives error `Error in product@CCC[[product@PRODUCT[z]]] : subscript out of bounds` in 1.1.5:

[code]

[2019-03-21 07:11] fdetsch commented on #64
Thanks for reporting. From a backward compatibility perspective, this should definitely be reenabled in an upcoming release.

As a quick workaround, either specify the desired collection through the corresponding `runGdal()` argument:

[code]

Or omit the collection entirely which seems justifiable since versions lower than V006 are no longer available from the main data servers.

[code]

[2019-03-21 12:14] mstrimas commented on #64
Thanks, that solved it!

[2019-03-21 12:14] #64 closed

[2019-03-25 02:22] kennchau opened #65 "[MCD19A2] Different output TIF dimensions based on region/projection"
Hello,

I'm encountering a curious bug when using `runGdal` for MCD19A2. When I changed the output projection to 4326, the output TIFF/raster has dimension 1200 x 1201 instead of 1200 x1200. However, this only occurs with tiles in North America (at least in my case). Below compares the same codes, but for NA vs. Tanzania:

[code]

Here's my `packageVersion` and `sessionInfo`:
[code]
and GDAL versi

[2019-03-25 10:57] kennchau commented on #65
Out of curiosity, I ran `runGdal` on all possible tiles for `2012001` (vertical row 2 was completely missing for that day), once with `outProj='asIn'` and once with `outProj=4326`. Here's the distribution of the first 2 dimensions of the output rasters:

[code]

[2019-03-26 04:36] #63 closed

[2019-03-26 06:07] fdetsch commented on #63
@ndmsc How did you solve the issue?

[2019-03-26 06:48] ndmsc commented on #63
It was strange to see such issue. I just created an empty object called "FA" as expected by the package  before calling MODISoptions.

Now i don't need it anymore. I removed that line and the package is working fine. I really don't know what happened to run into such strange error.

[2019-03-28 16:01] mpalumbo56 opened #66 "Error with MODIS Landcover Download Through R"
Hi,

I am trying to run the following lines of code in R, to access MODIS landcover information:

library(MODIS)
runGdal(product = "MCD12Q1", collection = "006", SDSstring = "01",
        tileH = 10, tileV = 6,
        begin = "2016.01.01", end = "2016.12.31")

And I receive the output of:

+         tileH = 10, tileV = 6,
+         begin = "2016.01.01", end = "2016.12.31")
#######################

[2019-03-28 18:28] mstrimas commented on #66
FYI I sent mpalumbo56 over from here: https://github.com/mstrimas/ebird-best-practices/issues/2

They're on Windows 7 and have both Cygwin and git bash installed.

[2019-03-29 09:03] fdetsch commented on #66
First of all, your code is syntactically correct. It runs perfectly smoothly on my machine.

As regards the error message above, are curl.exe and/or wget.exe made available through any of your environment variables? For example, I put both executables in `C:\Windows\System32`, which is in the system's PATH by default. Hence, my console output on the Windows command line looks something like this:

[2019-03-29 11:41] mstrimas commented on #66
@mpalumbo56 It appears you either don't have curl or that it isn't in your PATH and therefore not accessible through R. I'm not sure why this is the case since you've installed both git bash and cygwin, which should have curl installed. Perhaps because you don't have admin privileges? Also, I'm on Windows 10, which apparently comes with curl by default and the same isn't true for Windows 7. I thin

[2019-03-29 12:47] mpalumbo56 commented on #66
Success!!!

On my computer (Windows 7), curl is present in C:\Program Files\Git\mingw64\bin\ and once I changed the path, per the StackOverflow thread, MODIS is able to download data from LP DAAC.

Thank you very much for helping me sort this out.

[2019-03-29 13:21] mstrimas commented on #66
Great, glad to hear it's working! I'll add this to the book and close the issue on my repo. Thanks for sticking with it!

[2019-03-29 18:09] Antguz opened #67 "MOD35 and MYD35 Cloud Mask products"
Hi,

There is any change to download Cloud Mask products MOD35 and MYD35. These are not on the list of getProducts().

Regards...

[2019-04-01 06:57] fdetsch commented on #67
I see two major impediments here:

* MODIS swath products like MOD35_L2, MYD35_L2 are currently not supported by the package;
* cloud masks are furthermore not available through the standard data hubs [LP DAAC](https://e4ftl01.cr.usgs.gov) and [LAADS](https://ladsweb.modaps.eosdis.nasa.gov/archive/allData/6).

I'll leave this thread open since considerations regarding the integration of swath prod

[2019-04-01 07:15] fdetsch commented on #66
Glad it finally works.

@mstrimas BTW, it was fun reading your tutorial on [downloading MODIS data](http://strimas.com/ebird-best-practices/habitat.html#habitat-dl). If there's anything we could do to make the package less "challenging and confusing to get working", as you put it, please let us know ;-)

[2019-04-01 07:15] #66 closed

[2019-04-01 11:54] mstrimas commented on #66
Unfortunately, I think it's mostly dependency issues, so I don't know if there's much you can do on your end. We've sent the book out to a bunch of people for testing and in almost every case they got caught up with the MODIS chapter and I had to intervene. The primary issue is getting GDAL installed with HDF4 support, but there's also the curl issue mentioned in this thread. I've tried to give ex

[2019-04-01 11:56] mstrimas commented on #66
The package has been extremely helpful for putting together this bookdown document, without it we'd probably need to tell users how to manually download and mosaic the MODIS data, which would be a huge pain! Thanks for all your work putting it together!

[2019-04-02 09:41] fdetsch commented on #66
Thanks for the feedback. I agree that something like an installation vignette would make absolute sense. In addition, I'll probably include some additional resources (like your book), which might provide further details, in the repo's README.

[2019-04-03 03:15] Cattrees opened #68 "Can anyone handle MCD19A2? Can you teach me?"
Can anyone handle MCD19A2? Can you teach me?

[2019-04-03 07:16] fdetsch commented on #68
Please refer to my answer to [Download MODIS/MCD19A2 AOD product with R](https://gis.stackexchange.com/questions/295080/download-modis-mcd19a2-aod-product-with-r) on GIS StackExchange. If you feel more comfortable working with target extents from **sp**, **sf** or **raster** instead of full tiles, here's an example to get you going:

[code]

Mind that in this case, the output inherits the CRS from

[2019-04-29 02:33] Cattrees opened #69 "The 0.55nm bands in MCD19A2 is different and cannot be spliced. Can someone tell me how to solve this problem？"
The number of 0.55nm bands in MCD19A2 is different and cannot be spliced. Can someone tell me how to solve this problem
![QQ图片20190423085852](https://user-images.githubusercontent.com/49049925/56874098-0be2c780-6a6a-11e9-9777-e8d496226518.png)

[2019-04-29 11:35] MagicForrest opened #70 "mask values doesn't work for multiple tiles and "average" resampling"
Hi guys, thanks again for the awesome package.  It is great to have a one-stop shop for MODIS in R.  Unfortunately, I have an issue to do with the masking of no data values.  I should really have reported this after we implemented the error code/no data value masking last year, but somehow I didn't and then it slipped off the agenda.

The problem is that using maskValue doesn't work when combining

[2019-05-29 10:45] rsbivand opened #71 "getTile() sp subset or raster::crop issues with PROJ 6.1 and GDAL 3.0"
During revdep checks for rgdal, I see that the getTile() example faila with `identicalCRS(x, y) is not TRUE`. This is my `debug()` output:
[code]
I think that this is similar to https://github.com/riatelab/cartography/issues/54 and https://github.com/USGS-R/inlmisc/issues/106, where the **inlmisc** issue is for a topology error in `raster::crop()` which you use in the other `if()` branch in not us

[2019-06-08 13:25] goergen95 opened #72 "Error object a not found"
The error from the headline shows up when using the function whittaker.raster when outputAs is set as "one"
I narrowed it down to this line of code, where it should be changed to:
[code]
The letter **a** seems to be an artifact from the other methods where **a** represents an iterator.

https://github.com/MatMatt/MODIS/blob/ff083536fe8143bb420ad4fb4232eca5ae604be5/R/whittaker.R#L237

[2019-06-10 18:58] jacobmardian opened #73 "whittaker.raster does not exclude NAs in the weights raster"
The whittaker.raster function handles NA values in the vi and t inputs by changing their corresponding values in the "set0" matrix to true:

line 267: set0[is.na(val)] <- TRUE
line 301: set0[is.na(inTu)] <- TRUE

However, this is not done for the weights input raster. When using the MODIS VI Quality layer, there are many NA values that should be excluded from analysis due to unknown pixel quality

[2019-06-13 14:17] MatMatt commented on #73
Thanks! I have changed in develop.
I see the 0 in wtu are handled correctly but the NA's in wtu were not converted.
Ok now?

[2019-06-13 14:27] MatMatt commented on #72
Okay! Changed in develop, thanks!
Ok now?

[2019-06-14 08:33] goergen95 commented on #72
Thanks! Works Great!

[2019-06-14 08:46] MatMatt commented on #72
Ok, thanks!

goergen95 <notifications@github.com> schrieb am Fr., 14. Juni 2019, 10:33:

[2019-06-18 09:07] fdetsch commented on #72
Thanks for sorting this out, guys!

[2019-06-18 09:07] #72 closed

[2019-06-18 09:07] fdetsch commented on #73
@jacobmardian can you please verify?

[2019-06-18 13:54] jacobmardian commented on #73
Yes this has been resolved in the develop version. Thank you.

[2019-06-19 13:39] #73 closed

[2019-09-06 13:42] lsaravia opened #74 "Problem with begin and end dates"
I wanted to download and mosaic MOD44B, I selected one year, there is only one image in this range, but 2 images from different years were downloaded.

[code]

Package versions are
` MODIS_1.1.5   raster_3.0-2  sp_1.3-1      mapdata_2.3.0 maps_3.3.0
`

[2019-09-09 07:16] fdetsch commented on #74
Good catch! As compared to all other annual products available through the package, this one actually starts with day of year 065 (March 5, see [here](https://lpdaac.usgs.gov/products/mod44bv006/)).

For composite products like this one, `getHdf()` matches the user-defined start date (if provided) against the start of the composite periods. This is usually January 1 for annual products. If user an

[2019-09-19 09:02] nuest opened #75 "Add "ask" option to EarthdataLogin to enable non-interactive login and control credentials file path"
I would like to run a script for downloading data. I have stored my credentials in environment variable and they are used, but MODIS always asks if I want to change them:

[code]

_Would you welcome a PR adding an option `ask` with default `TRUE` to the function `EarthdataLogin(..)` login to disable the question?_

In addition:

- An option with current default `credentialsPath = path.expand(~/.nr

[2019-09-19 09:05] nuest commented on #75
My current workaround is to do a `file.remove(path.expand("~/.netrc"))` before `EarthdataLogin(..)`.

[2019-11-04 08:10] fdetsch commented on #75
Hey @nuest,

I'd be happy to receive and review a PR from you, the suggested changes seem perfectly reasonable. `EarthdataLogin()` emerged as kind of a hotfix when login-restricted data download was first introduced, which I guess leaves quite a lot of space for improvement.

[2019-11-14 08:06] fdetsch commented on #71
For future reference: https://stat.ethz.ch/pipermail/r-sig-geo/2019-November/027801.html.

@rsbivand, I'll implement required changes asap.

[2019-11-16 18:11] rsbivand opened #76 "MODIS vulnerable to forthcoming changes in sp and rgdal"
Running revdep checks for current rgdal on R-Forge - see:

https://stat.ethz.ch/pipermail/r-sig-geo/2019-November/027801.html

shows the errors in the attached check log, related to use of PROJ&/GDAL3
and required changes to sp and rgdal. If useful find a regerence to a docker
image in this thread:

https://github.com/r-spatial/discuss/issues/28

Changes will occur quite fast, and packages need to

[2019-11-24 18:58] #76 closed

[2019-11-24 18:58] #71 closed

[2020-01-01 18:06] bcosentino opened #77 "Corrupted .hdf files with runGdal"
The following code to download MOD13Q1 data has worked for me previously but started to return a corrupted file warning in December 2019:

[code]

The result:

[code]

The download is attempted many times with the same error. I'm running this on Windows 10. I updated to the latest package versions, but the problem persists. My full session info is below. Any idea what's going wrong?

[code]

MODIS

[2020-01-02 10:52] jeangolay commented on #77
I have had the same (or a closely related) problem (since December 2019, as well). I have temporarily fixed it by explicitly setting: MODISserverOrder = "LPDAAC" in MODISoptions.

[2020-01-06 21:41] bcosentino commented on #77
Thanks. I changed the server to LPDAAC and can now download files again. I wonder if the issue with LAADS is related to a [new requirement for user authentication](https://ladsweb.modaps.eosdis.nasa.gov/alerts-and-issues/?id=35048) beginning December 5, 2020.

[2020-01-07 07:51] fdetsch commented on #77
Good catch. I'll have a closer look at it. In the meantime, just stick with `MODISserverOrder = "LPDAAC"`.

[2020-01-09 18:53] mstrimas opened #78 "PROJ6/GDAL3 causing "Cannot find proj.db" error"
I'm on Mac OS Mojave and recently updated to proj 6.2.1 and gdal 3.0.2 with homebrew, which resulted in the following error when calling `runGdal()`:

[code]

A little Googling turned up that it's looking for proj.gb in the `PROJ_LIB` environment variable, which is getting set to "/Users/mes335/Library/R/3.6/library/rgdal/proj" when MODIS is loaded. Through dumb luck I found that if I just nuke th

[2020-01-10 03:45] mstrimas commented on #78
Update: I've just realized that, despite all the error messages, `runGDAL()` actually runs just fine and produces the correct output tifs. The error messages are extremely confusing though, so I think it would be worth looking into.

[2020-01-23 15:58] lsaravia opened #79 "Downloading MCD64A1 for a region and I get $ operator is invalid for atomic vectors"
I am trying to download MCD64A1 with these commands

[code]
and get

[code]

[2020-01-24 07:52] fdetsch commented on #79
Works on my end, what's your `sessionInfo()`? Mine is

[code]

[2020-01-24 18:36] lsaravia commented on #79
Mine is below, I will try updating raster and sp.

[code]

[2020-01-24 19:32] lsaravia commented on #79
Updated, and tried again

[code]

[code]

[2020-01-26 00:20] Fay07 opened #80 "runGdal function couldn't get tif files"
I tried to get MOD17A2H product, all hdf files were downloaded but there is no tiff file converted. Please see attached code. Thanks.

library(MODIS)
library(raster)
MODISoptions(MODISserverOrder = c("LAADS", "LPDAAC"))
EarthdataLogin()
path = 'D:/downloadMODIS'
lap <- file.path(path, "MODIS_ARC") # 'localArcPath'
odp <- file.path(lap, "PROCESSED")  # 'outDirPath'
MODISoptions(localArcPath = lap,

[2020-01-27 16:25] safalabolo opened #81 "Raster with no default name"
Hi!
Input raster data (Vegetation indices and Cloud mask) with names in yyyymmdd format can be used instead of yyyydoy Thanks in advance for the response.
All the Best.

[2020-01-29 13:57] fdetsch commented on #81
I am not quite sure I understand what you are suggesting. Can you maybe provide an example (code and resulting layers)?

[2020-01-29 14:30] fdetsch commented on #80
Works perfectly fine for me. If you do

[code]

what's the content of `tfs`? It should look something like this:

[code]
Also, note that LAADS download is [currently not possible](https://github.com/MatMatt/MODIS/issues/77).

[2020-01-29 19:28] Fay07 commented on #80
It works now. Thank you.

[2020-01-30 07:09] #80 closed

[2020-02-21 08:34] MatthiasSiewert opened #82 "Can't download and process MOD17A2HGF, but works for MOD17A2H"
rundGdal will not download MOD17A2HGF (gap filled) data. It will work for MOD17A2H (non gap filled). For MOD17A2H it will download the data and produce .tif files. for MOD17A2HGF it gets stuck on first download. For both datasets, it throws the same error:
ERROR 4: `.../MODIS/MODIS/MOD17A2HGF.006/2017.01.01/MOD17A2HGF.A2017001.h18v02.006.2020013213041.hdf' not recognized as a supported file format

[2020-02-21 12:00] MatthiasSiewert commented on #82
MOD17A2H sometimes works, but not always

[2020-02-24 07:19] fdetsch commented on #82
What's your output from sessionInfo() and MODISoptions()? Have you tried setting `MODISoptions(MODISserverOrder = "LPDAAC")` before running `runGdal()`?

[2020-02-24 08:10] MatthiasSiewert commented on #82
Modis options is set to:
MODISoptions(MODISserverOrder = c("LPDAAC"))

`> sessionInfo()
R version 3.6.2 (2019-12-12)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.4 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/blas/libblas.so.3.7.1
LAPACK: /usr/lib/x86_64-linux-gnu/lapack/liblapack.so.3.7.1

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C

[2020-02-24 12:26] fdetsch commented on #82
Seems to me like your Earthdata login credentials are either missing or wrong. With incorrect credentials, `runGdal()` tries to download files, but then ends up with corrupted files because authentication failed.

Can you run `EarthdataLogin()`, provide your (correct) Earthdata credentials and then try again?

[2020-02-24 12:40] MatthiasSiewert commented on #82
that worked! Thanks for the help

[2020-02-24 12:40] #82 closed

[2020-02-25 21:54] dkcorvus86 opened #83 "MODIS not downloading GeoTIFFs?"
Hi Matt,

I am brand new to using MODIS and doing spatial analyses. I am using the code from [eBird best practices](https://cornelllabofornithology.github.io/ebird-best-practices/covariates.html). All data is available via the best practices page. I have download GDAL and installed the MODIS package. Everything appears to work when I run the following code to obtain MODIS tiles for the appropriate

[2020-02-26 07:50] fdetsch commented on #83
Works on my side. Maybe same issue as [here](https://github.com/MatMatt/MODIS/issues/82)?

[2020-02-26 12:50] dkcorvus86 commented on #83
That didn't seem to work. I went back to ```EarthdataLogin()``` and reentered my credentials, the same problem emerged. I went to their website and double checked that those are the correct credentials.

When I run
[code]

it returns

outProj          =  +proj=sinu +lon_0=0 +x_0=0 +y_0=0 +a=6371007.181 +b=6371007.181 +units=m +no_defs  (if applicable, derived from Raster*/Spatial*/sf* object)
pixe

[2020-02-26 13:14] fdetsch commented on #83
I reran the code using a temporary `localArcPath` (like you do) instead of a permanent folder, but still couldn't reproduce this behavior. Are there any .hdf files downloaded to your temporary `localArcPath` before the freeze?

[2020-02-26 13:29] dkcorvus86 commented on #83
Nope. Nothing gets created in that temporary path other then a folder MODIS with empty subfolders corresponding to each attempted date and the PROCESSED output folder which has some .auxilliaries

[2020-02-27 07:31] fdetsch commented on #83
That can be easily tested. For example, can you download [this file](https://e4ftl01.cr.usgs.gov/MOTA/MCD12Q1.006/2010.01.01/MCD12Q1.A2010001.h18v02.006.2018146000104.hdf) after entering your Earthdata username and password?

[2020-02-27 12:12] dkcorvus86 commented on #83
That file downloaded no problem.

[2020-02-28 16:57] dkcorvus86 commented on #83
If i add the LAADS server to the ```MODISserverOrder = c("LPDAAC","LAADS"))``` to the ```runGdal()``` code above, I get 3 HDF files downloaded into each of the temporary folders for ```2010.01.01...2019.01.01```, but nothing for the remaining dates of the year and it does not process them into annual GeoTIFFs so nothing appears in the output folder ```data/modis/```

[2020-02-28 18:55] dkcorvus86 opened #84 "Trying to get runGdal() working on mac"
Because, I have yet to be able to get MODIS to function properly on my PC (see thread [here](https://github.com/MatMatt/MODIS/issues/83)), I decided to give it a try on my lab's Mac. I installed homebrew and followed the instructions to install GDal.
When I run ```MODIS:::checkTools("GDal")```  it returns

   OK, GDAL 3.0.4, released 2020/01/28 found!

but when I run the code from the ebird best p

[2020-03-02 08:38] fdetsch commented on #84
Sorry for the delay. I'll try to dig a little deeper into this within the next couple of days.

[2020-03-02 12:11] dkcorvus86 commented on #83
I was able to get this to work, by specifying the ```MODISoptions(dlmethod = 'curl')```.
Oddly  enough if i specify ```MODISoptions(dlmethod = 'wget')``` it appears to work, but never completes the job. So it seems like there was some issue with the ```dlmethod = 'auto'```

[2020-03-02 12:11] #83 closed

[2020-03-02 13:11] dkcorvus86 commented on #84
Florian,

Not a problem at all. I appreciate your continued help while I navigate this new terrain.

[2020-03-23 16:51] dmontecino opened #85 "Problems with manual example"
I tried the examples for the getHdf function. All of them have issues.

[2020-03-23 17:19] dmontecino commented on #84
https://gis.stackexchange.com/questions/183230/gdal-not-available-in-modis-r-package. This may help.

[2020-03-29 10:13] fdetsch commented on #85
Thanks for reporting. Revised with b998dd1fc7edeac22bc883288a83d315adaafd23. Stick to the develop version until this is on CRAN.

[2020-03-29 10:13] #85 closed

[2020-03-29 10:14] fdetsch commented on #81
Closing this due to lack of response.

[2020-03-29 10:14] #81 closed

[2020-03-29 10:18] fdetsch commented on #78
The issue is that PROJ_LIB is overridden as soon as **rgdal** or **sf** are attached. There is no file `proj.db` in the PROJ_LIB version shipped with these packages, and hence the error. I need to put some more thoughts in how we can handle this. In the meantime, `runGdal()` luckily just ignores the error.

[2020-03-29 10:21] fdetsch commented on #77
Solved with c4becf4ff529cedc7f71eabfd9ab8dbfb900a1c0. LAADS download is back online and `MODISserverOrder = c("LPDAAC", "LAADS")` the suggested (hence default) setting. LP DAAC is considerably faster when it comes to file retrieval.

[2020-03-29 10:21] #77 closed

[2020-04-09 04:56] dmontecino opened #86 "Does this work for MOD13Q1"
Hi

I tried some example in previous issue and I get to download data. Nevertheless,

I tried:

runGdal( job="Whatever", product="MOD13Q1", tileH=12,tileV=4, begin="2010001", end="2010005",
         SDSstring="1", outProj="asIn")

and I get

dyld: Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib
  Referenced from: /usr/local/bin/wget
  Reason: image not found
dyld: Library not loa

[2020-04-09 06:30] fdetsch commented on #86
Works on my end. Just to make sure, is the data there? Can you try with `dlmethod = 'curl'` and see if this changes anything?

[2020-04-14 06:02] safalabolo opened #87 "gap filling reflectance with linear interpolation approach"
Hi,
Is a temporal gap-filling of bands reflectance possible through an approach based on simple linear interpolation with MODIS package?Thanks in advance for reply

[2020-04-14 21:04] AurelioG opened #88 "No GDAL installation found (rocker/geospatial)"
Please someone, cast some light into this:
In a Ubuntu 18.04 host and rocker/geospatial container gdal is found by R. However, MODIS can't locate the library, even when the path is set.

Loading required package: rgdal
Loading required package: sp
rgdal: version: 1.4-8, (SVN revision 845)
 Geospatial Data Abstraction Library extensions to R successfully loaded
 Loaded GDAL runtime: GDAL 2.4.0, rel

[2020-04-15 06:59] fdetsch commented on #88
The image doesn't seem to ship with `gdalinfo`, which **MODIS** heavily relies upon in order to

* identify supported GDAL drivers (in particular HDF4)
* verify raster file integrity
* etc.

Simply `docker run` with option `-e ROOT=TRUE` (ie. root access, see [here](https://github.com/rocker-org/rocker/wiki/Using-the-RStudio-image)) enabled, then `sudo apt install gdal-bin` from the console. After

[2020-04-15 06:59] #88 closed

[2020-04-22 17:04] byross24 opened #89 "Error while downloading MOD13Q1 files"
Hi I was wondering if someone could help me figure out why I'm getting the following issue.

I'm attempting to use getHdf to download MOD13Q1 data to do some NDVI analysis but am receiving the following error message once I get to a specific date (after 2020-12-03):

Error in if (ftpfiles[1] == FALSE) { :
  missing value where TRUE/FALSE needed

My code is:

[code]

I've tried changing the dates t

[2020-04-23 06:07] fdetsch commented on #89
Absolutely no need for condescendence. Your code works on my end. Can you please provide the output of `sessionInfo()`?

[2020-04-23 07:59] byross24 commented on #89
Thank you! No problem - see below.

`> sessionInfo()
R version 3.6.1 (2019-07-05)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Catalina 10.15.4

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.6/Resources/lib/libRlapack.dylib

loca

[2020-04-23 08:30] fdetsch commented on #89
I really need a macOS testing environment.. &#129300;

Until then, does it work if you set the end date to just before the error occurs?

[2020-04-23 08:48] byross24 commented on #89
I'm beginning to think that R just needed a good night's sleep as I've tried it again this morning and success!

I had been fiddling with the dates and changing it to 1-year periods at a time, to see whether it was the sheer amount of data being requested that was causing the problem. I thought I'd give the full code a go one more time and it's working - I'm not sure what the issue must have been

[2020-04-23 08:48] #89 closed

[2020-04-23 08:52] fdetsch commented on #89
Glad to hear it works! For the record, simply omitting the end date will result in `getHdf()` downloading all MOD13Q1 files up to the most recent one. The current file inventory is available [here](https://e4ftl01.cr.usgs.gov/MOLT/MOD13Q1.006/).

[2020-04-24 15:14] earthcli opened #90 "runGdal with local Hdf"
I am sorry I have met a base trouble when runGdal with local Hdf file.
I have downloaded a Hdf file from chrome (I must use proxy when downloading the data), and saved it in a folder :D:/ET,
with the below code, I get an error of: "Error in product@CCC[[product@PRODUCT[z]]] : subscript out of bounds", would you please show me what is the corret way to do so?

`require(MODIS)
setwd("D:/ET")
hdf=fil

[2020-04-24 15:18] earthcli commented on #90
sorry , I know this is due to the error of "Mod16A2", which should be "MOD16A2".
but, if I do not want to download from runGdal, which parameter should I use to tell the function not to download？

[2020-06-14 19:41] paulauvirage opened #91 "runGdal "Error 4""
Hello

I am running MODIS, for the first time, in R 4.0.1 via R Studio on Ubuntu 20

runGdal returns ` "ERROR 4 /tmp .....htf' not recognised as a supported file format. ... gdalinfo failed - unable to open /tmp ...htf `

When I run

[code]
I get
`OK, GDAL 3.0.4... found!` and an error message for MRT (not enabled), but i think that is deprecated anyway.

If I run gdalinfo on the command line, out

[2020-06-15 06:41] fdetsch commented on #91
I believe it should be `.hdf`. If this doesn't solve it, please provide some code to reproduce the issue.

[2020-06-15 09:38] paulauvirage commented on #91
Sorry, I did use .hdf in the code i ran, just wrote .htf by mistake in the code I posted above!
I was using the [eBird tutorial](https://cornelllabofornithology.github.io/ebird-best-practices/covariates.html) in addition to the MODIS package help.

After `MODIS::Earthdatalogin()` and `MODIS:::checkTools("GDAL")` I ran this code:

[code]
and go this error message repeatedly

Downloading structure o

[2020-06-15 12:18] fdetsch commented on #91
Can you please attach your `sessionInfo()`?

[2020-06-15 12:56] paulauvirage commented on #91
Here it is:

R version 4.0.1 (2020-06-06)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/blas/libblas.so.3.9.0
LAPACK: /usr/lib/x86_64-linux-gnu/lapack/liblapack.so.3.9.0

locale:
 [1] LC_CTYPE=en_GB.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_GB.UTF-8        LC_COLLATE=en_GB.UTF-8
 [5] LC_MONETARY=en_GB.UTF-8    LC_M

[2020-06-15 14:27] fdetsch commented on #91
This is weird, your code executes flawlessly on my Linux test machines. As of **MODIS-1.2.0**, all GDAL related operations are carried out via `sf::gdal_utils()`. Could you try the following to narrow the problem down a little bit?

[code]

This should print the usual `gdalinfo` output to your console. In addition, make sure to double check your Earthdata login credentials stored in "~/.netrc". If

[2020-06-15 16:16] paulauvirage commented on #91
Thanks for your patience!

On running the first block of R code above (snhdfs = getHdf etc.. ) I get the same error as previously:

ERROR 4: `/tmp/RtmpKvE374/MODIS_ARC/MODIS/MCD12Q1.006/2018.01.01/MCD12Q1.A2018001.h16v07.006.2019199202821.hdf' not recognized as a supported file format.
gdalinfo failed - unable to open '/tmp/RtmpKvE374/MODIS_ARC/MODIS/MCD12Q1.006/2018.01.01/MCD12Q1.A2018001.h16v07.

[2020-06-15 16:30] fdetsch commented on #91
How about `file.size("/tmp/RtmpKvE374/MODIS_ARC/MODIS/MCD12Q1.006/2018.01.01/MCD12Q1.A2018001.h16v07.006.2019199202821.hdf")` (path will change for a new session) then?

[2020-06-15 18:01] paulauvirage commented on #91
If I run `file.size()` on the .hdf file generated in the new ERROR 4 message, after I have re-run the getHdf code in your previous message, the output is  [1] 0.

As the ERROR 4 message repeats itself, each with a different long .hdf file name, I tried `file.size()` on the first four and the output for all was the same: [1] 0

[2020-06-15 18:32] paulauvirage commented on #91
OK! Having uninstalled the development version of MODIS and replaced it with the CRAN version, the runGdal code posted six of my posts above, and which you found to be working fine on your Linux testing machines, now seems to be working fine on my laptop. I am sorry if I have given you unnecessary worry, as I realise I did not mention before that I was using the development version. I'll check eve

[2020-06-16 12:59] fdetsch commented on #91
No worries, glad to help.

[2020-06-16 12:59] #91 closed

[2020-06-22 11:07] fdetsch commented on #87
No, this is beyond the scope of **MODIS**, which offers two filtering techniques for vegetation indices (`whittaker.raster()`, `smooth.spline.raster()`) only.

How about [`approxNA`](https://www.rdocumentation.org/packages/raster/versions/3.1-5/topics/approxNA) from **raster** to perform linear interpolation between layers?

[2020-06-22 11:07] #87 closed

[2020-06-22 11:14] fdetsch commented on #86
Closing this due to inactivity.

[2020-06-22 11:14] #86 closed

[2020-06-22 11:16] fdetsch commented on #84
@dkcorvus86 Can you try again with the latest pkg version? All GDAL related operations have been moved to `sf::gdal_utils()`. You hopefully shouldn't experience such problems any longer.

[2020-06-22 11:24] fdetsch commented on #79
Any updates on this one?

[2020-06-22 11:25] fdetsch commented on #78
@mstrimas Can you try again with the latest pkg version?

[2020-06-22 14:55] mstrimas commented on #78
Can't even get to this point anymore, stuck in dependency hell. I have gdal installed with HDF4 support through brew, but still getting the `HDF4 driver seems to be lacking` error. Looking into `checkHdf4Driver()` I see it checks with `sf::st_drivers(what = "raster")$name`. Not clear what version of GDAL that's actually referencing, but it doesn't seem to be picking up the version of GDAL I instal

[2020-06-22 15:50] fdetsch commented on #78
I believe it's referencing the GDAL version that ships with **sf**..

[2020-06-22 16:57] mstrimas commented on #78
Hmm, I'm using the CRAN binary for sf, so I guess that doesn't include HDF4 support. Also, I assume none of the GDAL binaries ship with sf, just the libraries, so does it really make sense to use `sf::st_drivers(what = "raster")$name` to check for HDF4 support given that that isn't the version that will actually be used to convert the files?

[2020-06-23 07:49] fdetsch commented on #78
I don't quite understand why this wouldn't be the version used to convert the files. Given that `sf::st_drivers(what = "raster")` does not report HDF4 support in your case, and drivers available depend on the installation of GDAL/OGR (see `?st_drivers`), wouldn't this indicate that **sf** isn't correctly linked to your local GDAL installation? Did you use `configure.args` during compilation as des

[2020-06-23 13:01] mstrimas commented on #78
I've never been able to get those sf install instructions to work for me, so I'm using the CRAN binaries for Mac OS. I suspect this will be the case with almost all sf users, except the few who have the knowledge and interest in compiling from source. So I don't think sf is linking to my system GDAL, e.g. when I load sf it says it's linking to GDAL 2.4.2, but my system GDAL is 2.4.4.

[2020-06-23 13:28] tim-salabim commented on #78
@mstrimas have you tried installing sf from github? This may solve your issue in two ways.

a. If I am not mistaken, this will link to your system GDAL
b. IIRC, there have been efforts to ensure back-compatibility with older versions of GDAL/PROJ/GEOS (though that may already be included in the current CRAN version)

[code]

All this is a major hick-up at the moment for many packages that rely on

[2020-06-23 13:42] mstrimas commented on #78
Yeah, I have the latest versions of PROJ and GDAL installed via brew and have tried following the instructions for install from both CRAN and GitHub from source with no luck. Error is:

[code]

More broadly than my specific error, I think it should be expected that most people are using pre-compiled binaries of sf and will therefore not have the package linking to the system libraries.

[2020-06-23 13:52] tim-salabim commented on #78
Well, then I think there's not much you can do but wait until MacOS binaries of sf ship with more recent versions of GDAL/PROJ/GEOS and hope that HDF4 driver is included then.

This seems to me like it should be solved at the point where the MacOS binaries are built for CRAN. I don't know who is in charge of these but the windows binaries which are maintained by @jeroen (I think) include much more

[2020-06-23 14:17] mstrimas commented on #78
Ahh, looked at the source code, I see what's going on. I didn't realize MODIS was using `sf::gdal_utils(), I thought it was using the command line gdalwarp via system(). This makes sense now, but annoying since it means this package is unusable by the large majority of Mac OS users until those sf CRAN binaries get fixed.

[2020-06-23 15:02] tim-salabim commented on #78
On the other hand, it takes burden off the maintainers. The problem is not with this package, the problem is with very old MacOs binaries. Maybe this should be raised on r-sig-mac

[2020-06-24 05:50] fdetsch commented on #78
@mstrimas The pkg had been using `gdalinfo` and `gdalwarp` via `system()` calls before version 1.2.0. We would have had to check for the presence of GDAL utilities - and not install without them - if we had wanted to retain the pkg on CRAN in its old form.

Now, quite a lot of users seemed to have problems with installing GDAL w/HDF4 support (Python bindings etc.) in the past, not to mention linki

[2020-06-24 14:06] mstrimas commented on #78
Thanks both of you for explaining the thought process! Makes a lot of sense to use `sf::gdal_utils()` now that I understand. Seems like the thing to do is just to get those Mac OS binaries compiled with HDF4 support. I've posted to r-sig-mac, hopefully that gets the process started. Thanks!

[2020-06-24 16:21] edzer commented on #78
You may want to try new Mac OSX binaries, kindly provided by Brian Ripley, see https://stat.ethz.ch/pipermail/r-sig-mac/2020-June/013599.html

I have no clue whether these include more drivers then the old OSX binaries. For OSX instructions for a source install of sf, see also https://github.com/r-spatial/sf/pull/1430

[2020-06-24 16:42] mstrimas commented on #78
Thanks for the tip @edzer! Seems it doesn't include HDF4 support, but I've emailed Brian Ripley to see if it would be possible to add it.

[2020-06-24 20:46] s-u commented on #78
MacOS CRAN binaries ship whatever the package maintainers deem appropriate so please contact them to submit whatever changes may be necessary to https://github.com/R-macos/recipes

[2020-06-26 16:58] mstrimas commented on #78
No response from r-sig-geo or Brian Ripley. Seems like what @s-u suggested may be the way to go, but I'm totally at a loss for how to proceed with that. Perhaps one of the MODIS package maintainers could pursue that.

I think there should be some kind of warning for Mac users that MODIS won't work unless they compile `sf` from source linking to a version of GDAL with hdf4 support. The existing war

[2020-06-26 17:44] tim-salabim commented on #78
I think this should be someone who has knowledge of macos. The only person coming to my mind is @pat-s. Not sure if he's aware of this process or would be able to contribute here. But it seems like it could resolve quite a few issues that have come up repeatedly in various places lately. Updating the macos gdal/proj/GEOS stack to recent stable versions would be great.

[2020-06-26 17:50] mstrimas commented on #78
Thanks Tim! Wish I could be of more help here, but I'm totally lost when it comes to anything involving compiling, linking, etc.

[2020-06-26 19:43] pat-s commented on #78
`hdf4` is somewhat niche I'd argue and the homebrew-core `gdal` formula does not come with `hdf4` support.
One reason maybe the lack of a `hdf4` formula in homebrew-core.

The `osgeo4mac` tap has a `osgeo-hdf4` formula. If this is installed and `osgeo-gdal` linked instead of `gdal`, then GDAL has `hdf4` support.

Not sure if `hdf4` support will ever make it into the CRAN binary.

I do not use bina

[2020-06-27 08:35] tim-salabim commented on #78
Thanks @pat-s ! @mstrimas can you try the install instructions from @pat-s and report back if this solves your missing hdf4 driver issue? If ti does, I think @fdetsch will add these instructions to the README to aid macos users with the same problem.

[2020-06-27 20:53] s-u commented on #78
@tim-salabim the issue here is not specific to macOS and thus doesn't really require any macOS knowledge, but do you need to know what setup is required for your package. The only requirement relevant here is that your setup must work as a static build since it must be possible to compile the package in such a way that it doesn't depend on anything outside of your package when installed (this is u

[2020-06-29 01:21] mstrimas commented on #78
@tim-salabim As with the instructions in the `sf` README, the ones provided by @pat-s don't work unfortunately. I'm guessing this is the issue with static linking bugs that @s-u mentioned above. It's not clear to me if this is an issue specific to some oddity of my system or a general Mac OS problem. In any case, I have invested some time into trying to figure this out in the past, but have had no

[2020-06-29 05:36] pat-s commented on #78
@mstrimas No worries talking to me directly :)

To help you in more detail, we need more information -> a reprex and a more detailed error description using the `hdf4` enabled GDAL.
Are you sure you are having a static linking issue here? I am asking because you said earlier that you do not have much knowledge in linking and the instructions by Simon where very general and do not necessarily relat

[2020-06-29 07:21] #68 closed

[2020-06-29 07:47] fdetsch commented on #74
Decided against implementing this. As stated in the [MOD44B User Guide](https://lpdaac.usgs.gov/documents/112/MOD44B_User_Guide_V6.pdf),

 A date range from `begin = "2018001", end = "2018365"` covers two such periods, thence the above described download behavior is intended.

[2020-06-29 07:47] #74 closed

[2020-06-29 07:55] fdetsch commented on #78
@mstrimas Can you please provide the information that @pat-s is asking for? With our pkg now being built on `sf::gdal_utils()`, this is something that requires a sustainable solution.

@pat-s I'd be happy if you could move the latter part to a separate issue whenever it suits you. I might have a vague idea what could be going wrong..

[2020-06-29 12:33] tim-salabim commented on #78
@s-u which libraries are you referring to here?

[2020-06-29 17:17] mstrimas commented on #78
@pat-s I suspect this will not be reproducible since it may depend on the particulars of my system. But here it goes. First, to be clear, this is an issue with compiling `sf` from source. I have no issue with using GDAL and HDF4 from the command line.

This is my session info:

[code]

I ran the exact series of `brew` commands you provided above, then ran `install.packages("sf", type = "source")`,

[2020-06-29 19:34] edzer commented on #78
The test that fails tries to link against GDAL while calling PROJ code, checking that GDAL was linked against PROJ, so that the projection code in GDAL is usable (rgdal never does this check, as it doesn't use this code). Failure of this test can indicate a GDAL installation without PROJ (not so likely), a broken/mixed up GDAL installation, or a failure in the configure script. My guess is option

[2020-06-29 20:45] mstrimas commented on #78
@edzer The instructions posted by Patrick above suggested using the osgeo version of GDAL vs. the standard version suggested in the README instructions, so I suspect those are the two version I have.

I'm not all that concerned with whether I can get this set working on my system, I mainly want to ensure it'll work for the average user since I rely heavily on the MODIS package workshops and [onlin

[2020-06-29 21:52] s-u commented on #78
Please note that recommending homebrew for regular R is not a good idea as homebrew conflicts with system libraries and thus by induction with CRAN R which uses system libraries and not homebrew. If users want to use homebrew, they have to install everything via homebrew including R and all packages - and deal with the consequences, which I don't hink the majority want to.

If you have an R packag

[2020-06-29 22:00] jeroen commented on #78
Simon, for the Windows stack I have used roughly the same versions as the latest Ubuntu 20.04 LTS. I found that these are well tested and also work with static linking. These are:

 - gdal 3.0.4
 - proj 6.3.1
 - geos 3.8.0

You can find the the full configuration, including the 26 driver libraries in the [PKGBUILD](https://github.com/r-windows/rtools-packages/blob/master/mingw-w64-gdal/PKGBUILD).

[2020-06-30 09:03] tim-salabim commented on #78
@jeroen @s-u just as a thought, wouldn't it be desirable for R users in general to have the Windows and MacOS builds be as similar as possible so that we can expect things to work similarly independed of the OS used?

[2020-06-30 13:35] edzer commented on #78
This discussion is very relevant, and is getting a scope way beyond the MODIS package. I suggest to continue it here: https://github.com/r-spatial/discuss/issues/40, and started bringing up a number of related things/thoughts and issues.

[2020-06-30 13:40] tim-salabim commented on #78
Agreed!

[2020-06-30 14:49] mstrimas commented on #78
Yes, this seems to be a much bigger discussion than what I originally raised. Closing this issue.

[2020-06-30 14:49] #78 closed

[2020-07-01 20:21] pat-s commented on #78
Simon, this statement is not true. I am running the official R CRAN binaries and use homebrew for everything. I did not have any conflicts yet and so have many others.
I do not use binaries and compile all packages from source.

Making such a strong statement and pulling users away from homebrew for no strong reasons is not a helpful move in my opinion, especially as your words have weight in the

[2020-07-01 20:43] edzer commented on #78
It's always nice to hear someone who not only has an opinion, but also knows the truth. I think Simon talked about users, not developers, and there's many more of the former group, and we (in any case Simon, Matt and I) need to deal with them.

Re: the GDAL version mix confusion: thanks for sifting this out, this was indeed what I suspected above. Are you willing to answer all the StackOverflow qu

[2020-07-01 21:16] pat-s commented on #78
We all the need to deal with the users :) However, I do not see a difference between users and devs in the statement made: Recommending homebrew for "the average user" is just fine.
It is simple and when not going off-path, everything will run smoothly.
Also there is no need to install R via homebrew if homebrew is used in any way on the system.

Spatial stack installations via homebrew for r-spat

[2020-07-01 21:58] s-u commented on #78
@pat-s You don't have to take my word for it - you can check yourself `otool -L` is your friend. Saying that striking matches around hydrogen is perfectly safe just because you didn't blow yourself up yet is not a proof that it is actually true. In fact, it is simply irresponsible - there is already enough misinformation out there.

Homebrew replaces system libraries with its own versions which is

[2020-07-02 13:21] mstrimas commented on #78
@pat-s thanks for catching that, I'd forgotten I had Anaconda installed. I have a new work MacBook on order, so I think I'm just going to wait for that and start fresh from a clean system.

[2020-07-02 22:05] caiomattos opened #92 "Error in runGDAL: gdal_utils warp"
Hello,

I've been trying to use MODIS to EVI data but keep getting the same error. I thought it could be a problem with my code so I tried the runGDAL example in the documentation but the error persists. I tried searching here (and elsewhere) for a solution but couldn't find anything. I appreciate the help! Thanks in advance.

Code is:

[code]

And (entire) error message:

[code]

[2020-07-03 05:54] fdetsch commented on #92
Hi,

can you please provide your `sessionInfo()`? Does `MODIS:::checkHdf4Driver()` evaluate to `TRUE`?

[2020-07-03 14:54] caiomattos commented on #92
Hi,

Thanks for the response.

Sure! `checkHdf4Driver()` does evaluate to `TRUE`. And the `sessionInfo()` is below:

[code]

[2020-07-06 12:03] fdetsch commented on #92
Can you download an arbitrary .hdf file and then try to extract basic information from it using **sf** and **raster** functionality, e.g.

[code]

Does this work?

[2020-07-06 14:16] caiomattos commented on #92
Yes, that appears to work just fine, no errors.

[2020-07-09 13:06] fdetsch commented on #92
So it seems like there's something going wrong with the raster layer options passed down to `sf::gdal_utils()`. Can you do me the favor and try the following:

[code]

both with and without the `-t_srs` part commented?

[2020-07-16 06:31] calvus17 commented on #46
Dear Florian,

I have just updated the MODIS package to version 1.2.2 and experience the
same problem during unpacking the hdf file to geotiff that was already
solved two years ago. I use MOD13Q1 and the resulting tiff files have a
wrong resolution, not 4800*4800.
I am able to get around the problem by extracting the tiff files with my
own code, but if you have the chance then please take a look a

[2020-07-17 06:16] itati01 commented on #92
Hi,

I stumbled upon this issue and tested the code. The second assignment (gdal_sds) gives an indexing error. A second ```unlist()``` resolves the issue.
[code]
gdal_utils works fine.

[2020-07-17 07:09] itati01 opened #93 "error sf::gdal_utils("warp") in runGdal"
Hi,

I want to download MOD16 and MYD16 data with runGdal but receive an error in sf::gdal_utils using "warp". Actually, I plan to reproject the data but I get this error even without specifying outProj etc.

[code]

The traceback is:
[code]

gdalSDS contained two elements but the error also occured with gdalSDS[[1]]. So, I replaced "warp" with "info" and the function continues until raster is com

[2020-07-28 09:19] Starrry22 opened #94 "Error in if (ftpfiles[1] == FALSE) { : missing value where TRUE/FALSE needed"
I use `getHdf` to download data, and there is the error. `Error in if (ftpfiles[1] == FALSE) { :    missing value where TRUE/FALSE needed`
 I saw the same issue , but the solution ,let R have some rest, won't work for me. Here is my code:
`MODISoptions(localArcPath = "D:/data", MODISserverOrder = c("LAADS", "LPDAAC"))`
`getHdf(product="MYD09A1", begin = "2014001", end = "2019365", tileH=25:27, til

[2020-07-30 00:59] Starrry22 commented on #94
I tried the code today, and it works. Maybe  my R need more time to rest.

[2020-07-30 00:59] #94 closed

[2020-07-30 05:56] fdetsch commented on #94
Glad to hear it works!

[2020-08-06 05:04] bholst505 opened #95 "Problem with MODIS package installation"
Hi,

I am trying to download and use the MODIS package but run into the following error when loading the package into an R session with the library() command:

Error: package or namespace load failed for ‘MODIS’:
 .onAttach failed in attachNamespace() for 'MODIS', details:
  call: parse(ifelse(file.exists(optfile), optfile, tmpopt))
  error: C:\Users\BRADY'~1\AppData\Local\Temp\RtmpKkWxHh/.MODIS_O

[2020-08-24 08:45] fdetsch commented on #92
@caiomattos As suggested by @mlampros in #96, can you please

[code]

and then try to rerun your code?

[2020-08-24 08:45] fdetsch commented on #93
@itati01 As suggested by @mlampros in #96, can you please

[code]

and then try to rerun your code?

[2020-08-25 06:40] shimudongren opened #97 "error when runMrt example:'mrtmosaic' Not an internal or external command, and not a runnable program Or batch files."
when i run the examplle
geo = runMrt(product="MOD11A1", extent="austria", begin="2010001", end="2010002", SDSstring="101",
+              job="ExampleGEOdelme", outProj="GEO")

occure follow errors:
'mrtmosaic'  Not an internal or external command, and not a runnable program Or batch files.
'resample'  Not an internal or external command, and not a runnable program Or batch files.

Before installi

[2020-08-26 06:05] fdetsch commented on #97
I strongly recommend using `runGdal()` instead. `runMrt()` has primarily been kept inside the package to account for backward compatibility, although the software [has been retired a good while ago](https://lpdaac.usgs.gov/news/we-are-preparing-retirement-downloadable-modis-reprojection-tool-mrt-and-mrtswath-tool/) (I believe the last update was in 2011).

If you, for whatever reason, really want

[2020-08-26 06:05] #97 closed

[2020-08-26 10:00] mlampros opened #98 "gdal_utils warp: an error occured"
@MatMatt, @fdetsch this issue is another case where the [runGdal()](https://github.com/MatMatt/MODIS/blob/master/R/runGdal.R#L101) function throws the error

[code]
but it's not related to [PR96](https://github.com/MatMatt/MODIS/pull/96)

It seems that although [SDS](https://github.com/MatMatt/MODIS/blob/master/R/runGdal.R#L247) can have a length > 1 it is hard coded to process only the first item

[2020-08-27 10:44] itati01 commented on #93
I tested it again under Linux with an absolute ```outDirPath``` like ```/data/modis/output```. The function writes MOD16A2.*.tif files but stops with an error.

The output of traceback is:
[code]

The output was
[code]

However, I did not find any \*GF\* files or folder (which I actually don't need) but I miss MYD16A2 files.

[2020-08-27 12:20] mlampros commented on #93
@itati01,

if you re-project the data using an extent (as you've mentioned in your first comment with 'poly_2') then highly probable the error comes from the second call to [sf::gdal_utils()](https://github.com/MatMatt/MODIS/blob/master/R/runGdal.R#L406) which takes the extent as input and attempts to crop the downloaded .hdf file of the corresponding vertical and horizontal tile. The 'sf::gdal_ut

[2020-08-27 13:02] itati01 commented on #93
@mlampros ,
But I commented out the line with the `extent` and did not use it in my second test as well. I don't know the possible error messages of `strsplit` but could `x` become a "non-character argument" in `getSds`?

[2020-08-27 13:53] mlampros commented on #93
@itati0,

to debug your error case and find out if 'x' does not take the expected value, you have to run the internal code of [runGdal](https://github.com/MatMatt/MODIS/blob/master/R/runGdal.R#L101) function line by line and use the triple-dot ( MODIS::: ) for the functions that are not exported (I guess the same did the author of the package as there are a couple of places where the first indices

[2020-08-27 21:38] itati01 commented on #93
@mlampros,

I followed your suggestion.

The problem is that my regex pattern not only matches "MOD16A2" and "MYD16A2" as intended but also "MOD16A2GF" which could not be downloaded (authentication fails). However, an empty hdf is created for the last of my three Modis dates (I tested August 2014).

Therefore, `length(files) > 0` is TRUE and `getSds` is executed in the `lapply` where `sf::unlist(s

[2020-08-28 05:46] mlampros commented on #93
@itati01,

if you came to a conclusion what the issue might be based on the data that you download, submitting a PR to fix this issue might be a better solution.

[2020-08-28 08:10] fdetsch commented on #93
@itati01 You can use `product = "M.D16A2$"` to prevent the GF products from being processed. For regex input, it is intended behavior that all matching products are considered.

Meanwhile, I tested your code for all four products in August 2014 and it finished without issue, which makes it hard for me to assess what went wrong in your particular case.

[2020-08-28 08:42] itati01 commented on #93
@fdetsch
Thanks for the looking into my issue. I hardly use MODIS data, so was not aware of the GF product. Therefore, I initially did not use `$` and kept this for the second test. Thanks for the hint, anyway.

If the GF data was downloaded during your test, there might indeed be some specific problem here. I assume a positive `checkIntegrity` before the `lapply` could avoid errors in case of emp

[2020-08-28 11:19] fdetsch commented on #93
Since you're probably the only one who can reproduce this at the moment, I'd highly appreciate a PR. There are integrity checks for downloaded .hdf files in the pkg, which should lead to download retries in case of corrupted files. I am not certain what's going wrong in this prospect..

[2020-10-30 06:31] cedlfc44 opened #101 "problems with runGdal"
hi:
i try to download a time series of EVI data, using MODIS package for this dates:
  Fechas_MODIS
1   2015-01-01
2   2015-01-17
3   2015-02-02
4   2015-02-18
5   2015-03-06
6   2015-03-22

im using a loop, its works perfectly two months ago,  but now present problems in line Rungdal.

bandas <- "010000000001"
for (i in 1:6) {
  ptm<- proc.time()   ## contador de tiempo INICIO bucle FOR
  print(f

[2020-10-30 12:08] mkettley opened #102 "Downloading MODIS data issues with getHdf"
I'm trying to download MOD16A2 data. As a precursor to what I need I am running the following code:

[code]

However when I run this I get the following error repeated multiple times:

[code]

Any advice would be great, thanks.

[2020-11-09 07:02] fdetsch commented on #101
Before going any further, have you tested this with the latest development version?

[code]

[2020-11-09 07:03] fdetsch commented on #102
Have you tried this with the latest development version? This might help narrow down the issue a little bit..

[code]

[2020-11-09 22:09] cedlfc44 commented on #101
Yes i have, with lastest version, there aren t any error messages but, i check Output Directory where images must be, but there aren t any tiff images, only found two hdf files with 1Kb sizes, both of them.
Is there a relation between this dowload error with  MODIS Reprojection Tool (MRT) and MRTSwath tool retired from lpdaac.usgs.gov page ? (https://lpdaac.usgs.gov/news/downloadable-modis-reproje

[2020-11-11 19:46] pdez90 opened #103 "Error: $ operator is invalid for atomic vectors"
Hi, Im trying to read in the AOD from MAIAC. This is my code:
hdf1= getHdf(product= "MCD19A2", collection="006", tileH=21, tileV=9, begin="2020.03.14", end="2020.05.10")

I keep getting the error:
Error: $ operator is invalid for atomic vectors
I don't know what is going on.  I have the latest version of this package. Any help would be much appreciated! Thank you

[2020-11-12 07:13] fdetsch commented on #103
Running smoothly on my end. Maybe scheduled server downtime (frequently occurs on Wednesdays)? Have you tried with the latest develop version?

[2020-11-12 13:12] pdez90 commented on #103
I did! I just tried running it again and failed.

[2020-11-12 17:44] fdetsch commented on #101
No, there shouldn't be a connection between MRT and the download issue you reported. Are you certain the credentials in ~/.netrc are correct?

[2020-11-12 18:17] fdetsch commented on #103
Are the login credentials in ~/.netrc correct?

[2020-11-12 22:15] cedlfc44 commented on #101
Hello:
First, I checked the credentials in ~/.netrc, and they are fine, but I still put back my username and password.
I put back the improved script lines down.
-This week, I was trying to download EVI images, once download proccess starts inside the loop, this happen:
   Downloading structure on 'LAADS' for: MOD13Q1.006

-Then, it starts with the first image of the date "i" inside the loop.
[1]

[2020-11-17 10:57] Muesgen commented on #11
Hi, I came across this issue, is there an update regarding parallel processing? That would be very useful!

[2020-11-19 12:56] vanderleidebastiani opened #104 "MODIS problem under Mac OS 11 - Big Sur"
Hi,

I updated my MacBook to Big Sur and now runGdal not work.

The package sf have some problems with installation under Big Sur. I followed the instructions on this issue (https://github.com/r-spatial/sf/issues/1536) to install the sf and worked for me. I installed MODIS via  devtools::install_github("MatMatt/MODIS", ref = "develop").

I also checked if I had GDAL installed with HDF4 support (ht

[2020-11-20 12:50] jeroen commented on #104
This problem is now fixed on CRAN. You can now install the sf and rgdal packages from CRAN in the regular way on MacOS big sur.

[2020-11-23 06:48] fdetsch commented on #104
@vanderleidebastiani Can you give it another try?
@jeroen Glad to hear this has now been fixed, thanks!

[2020-11-23 14:59] vanderleidebastiani commented on #104
Hi @jeroen and @fdetsch

I removed and reinstall rgdal (current version (1.5.18), sf (0.9.6) and MODIS (1.2.3) via CRAN and apparently it worked appropriately. I needed to define a new timeout to download the packages, in my case options(timeout = 240). However, the function runGdal is taken a long time to download, and I am not sure if it is in fact working.

Best, Vanderlei

[2020-11-23 20:06] vanderleidebastiani commented on #104
Hi @jeroen and @fdetsch

I am working on two Macs with MacOS 11. I can run the runGdal function just in one of them. When the function runGdal does not work, it takes a long time in the download process and never ends. I can not find the exact difference between them, but the Mac that it works with uses bash as the default shell. The Mac that does not work uses zsh (Z shell) as the default shell (

[2020-11-25 02:13] mickayla32 commented on #104
Hi Vanderlei,
I was having the same original problem as you (thank you for posting this!) Would you mind sharing how you correctly removed and reinstalled rdgal, sf, and MODIS?
Thank you very much,
Mickayla

[2020-11-25 02:40] vanderleidebastiani commented on #104
Hi @mickayla32

I typed:
remove.packages(c("sf", "MODIS", "rgdal"))

However, the runGdal function is still not working.

Best, Vanderlei

[2020-11-25 06:26] fdetsch commented on #104
@vanderleidebastiani Does `runGdal()` create any new files in `getOption("MODIS_localArcPath")`? If not, this would point towards issues with `getHdf()`, which is running under the hood.

[2020-11-25 12:29] vanderleidebastiani commented on #104
Hi @fdetsch

I tried with the example of the getHdf function. It creates some folders and a file .hdf, but the file have always zero bytes. Could you help me with that?

Some additional check:

MODISoptions()
File '~/.MODIS_Opts.R' does not exist. Create it now to make settings permanent? [y/n]: n

STORAGE:
_______________
localArcPath : /private/var/folders/q_/jbn0s0r90ss2_0yxltdcz0zm0000gn/T/Rtm

[2020-11-25 12:53] fdetsch commented on #104
Are you positive that login credentials in ~/.netrc are correct?

[2020-11-25 17:34] vanderleidebastiani commented on #104
@fdetsch

I am working on two Macs with macOS 11. One of them is OK, I have done a mistake and change the credenctials. Thanks for the tip. The other it keeps not working, the downloading never finish. I think that it can be a PATH problem, but I am not able to fix this.

In Terminal:
~echo $0
-zsh
~R CMD
-looks ok

In R/RStudio:

sh

sh: R: command not found
Warning message:
In system("R CMD") :

[2020-11-26 06:44] fdetsch commented on #104
For me as a non-Mac person, this is extremely hard to debug. Since empty files are created, I would assume that there's something wrong with the file download, some proxy or firewall issue maybe. Can you

* `debug(MODIS:::ModisFileDownloader)`,
* run an arbitrary `getHdf()` command,
* and then go through debug mode line by line?

Like this, you should be able to find the exact point at which file

[2020-11-30 18:22] vanderleidebastiani commented on #104
Hi @fdetsch

I tried to debug ModisFileDownloader in both macs that I use. I notice that the functions follow distinct paths between computers. The Mac that the download can be complete use the function curl::curl_download to try download, while the Mac that not complete the download try to download via utils::download.file. Using download.file I think that have some authentication problems (I rec

[2020-12-01 06:54] fdetsch commented on #104
... which brings up two questions:

* Why is it behaving differently on the two Macs? Have you maybe had another download method permanently set on the Mac on which this was not working?
* Can we fix the reported authentication problems in `ModisFileDownloader()` &#8594; `download.file()`? I am not much of a Mac person, so any help would be highly appreciated.

[2020-12-02 13:49] vanderleidebastiani commented on #104
@fdetsch

I have not set a permanent download method. The mac that the download work without set a download method a warning message is showed ("sh: wget: command not found"). This message is not a problem, the download can be completed and it looks like a message from the bash shell. I think that this difference is because of the difference between the shell, I think that I have a PATH problem in

[2020-12-03 06:47] fdetsch commented on #104
Great, thanks. I'd appreciate if you could keep us updated!

[2020-12-04 18:06] Muesgen commented on #11
Hi again,

in my opinion this function is very useful and would like to use it in parallel because my rasters are quite large. I have already tried it with fork and sock clustering, but it did not work so far.

Actually I try mclapply, but that does not work either. See here:

[](https://stackoverflow.com/questions/65148384/understanding-writevalues-of-raster-by-parallel-processing-is-it-possible-

[2020-12-07 06:34] fdetsch commented on #11
Sorry for being so unresponsive. Parallel processing would definitely be nice to have, but I am currently lacking capacities. @MatMatt how about you?

[2020-12-07 06:58] MatMatt commented on #11
Ups, I see I have been mentioned several times here, sorry I did not realise that.
What about substituting the raster package wither the terra package at least for some parts of MODIS?
terra would make in many cases the parallel processing obsolete...
https://cran.r-project.org/web/packages/terra/index.html

[2020-12-07 07:26] fdetsch commented on #11
I have hardly worked with **terra** so far, do you have any experience yet? If we decided to go down that road, it would in my opinion make sense to replace all related code (`whittaker.raster()` etc.) to avoid explicit imports of **raster** and **sp** altogether. However, I believe this would be a longer-term project..

[2020-12-07 07:35] MatMatt commented on #11
Yes I have played with terra recently and it is very similar to raster (obviously), so if, than the shift should not be too difficult. I have just looked into whittaker.raster(), and is is soaked full of raster::* conjunctions...I first need to understand again what is going on in there... I come back to you later today.

[2020-12-07 07:36] MatMatt commented on #11
Ah one more thing, should I look into the 'develop', correct?

[2020-12-07 07:39] fdetsch commented on #11
Since this will likely involve massive changes, I'd rather create a new branch 'terra' from 'develop' to keep things as clean as possible.

[2020-12-07 07:45] MatMatt commented on #11
ok, On the mid/long term the shift will be inevitable. But I want to avoid to trigger a too big thing an leaving you alone with the dealing of it.
Yes that would be good, if you do create the terra-branch, I can play without endangering anything, and if it becomes to big, I will look at solving it within raster.
Thx

[2020-12-07 07:49] fdetsch commented on #11
Done.

[2020-12-09 08:06] fdetsch commented on #104
Managed to narrow this down to some kind of change in `wget` LAADS download behavior.

On the command line, LP DAAC download works as expected and a ~20 MB .hdf file is downloaded:

[code]

By contrast, LAADS download downloads a ~12 **KB** file only:

[code]

Any wget redirect/authentication etc. experts around here, @MatMatt maybe? I am fairly sure that once this is solved, 0 KB file download is

[2020-12-09 08:08] fdetsch commented on #101
Maybe [this](https://github.com/MatMatt/MODIS/issues/104#issuecomment-741605744) helps. Have you tried with another `dlmethod`?

[2020-12-09 10:20] MatMatt commented on #104
When I try to open the two access the two files on a browser the LP DAAC can be downloaded, but for the LAADS url I get an error, is that to be expected (due to login) or is there an issue with the server/service? Access stops here https://ladsweb.modaps.eosdis.nasa.gov/archive/

[2020-12-09 12:09] fdetsch commented on #104
You can go to https://ladsweb.modaps.eosdis.nasa.gov/archive/allData/6/MOD13A3/2020/001 and then download the above file manually. This should redirect you to urs.earthdata.nasa.gov where you need to sign in before you can download the file.

[2020-12-09 21:53] cedlfc44 commented on #101
Yes I have.
firstable, I used debug to check what was going in on with script (debug(MODIS:::ModisFileDownloader)) and found the fail.

runGdal , checks two urls, LAADS and LPDAAC, and fail were in both. precisely in download.file
( [1] "Error in download.file(url = infile, destfile = destfile, mode = \"wb\",  : \n  'wget' call had nonzero exit status\n")

So, I set up "curl" like download method.

[2020-12-10 09:09] fdetsch commented on #101
Glad to help. I consider this issue closed, we'll try to solve the `dlmethod` problem in #104.

[2020-12-10 09:09] #101 closed

[2020-12-14 09:59] itati01 opened #105 "open bracket in password caused sh syntax error"
Hi,

I wanted to use `getHdf()` to download M*D16A2GF files. In contrast to non-GF files, the attempt resulted in authentication errors and empty hdf files before I used `Earthdatalogin()`. However, my original password contained an open bracket. This caused a "sh: 1: Syntax error: "(" unexpected" error. After changing the password, the download is now working. May be an "escape" is needed? The is

[2021-02-17 15:21] MagicForrest commented on #70
Bump.  Is there any chance of a fix here?  I notice that the "maskValue" argument for runGdal() is not marked as "not currently used".  Does that mean that mean it is unfeasible to implement it, or it is on the To-Do list?

Sorry to bug you about it again, but now I have a PhD student running into the same problem so it has become an issue again.  I notice that I did offer to potentially try and f

[2021-02-17 15:48] fdetsch commented on #70
I would have to have a closer look at this in order to answer your question properly. The truth right now is that **MODIS** is not exactly on top of my to-do list, so I'd highly appreciate if you or your PhD student could have a look at this and submit a PR, if possible.

[2021-02-18 10:52] MagicForrest commented on #70
Hi Florian.  Understood!  This is currently beyond my student's ability level.  We'll work around it for just now, but I'll put it on my To-Do list.  I guess that when it becomes critical for me I will be suitably motivated to do it ;-)

[2021-02-19 17:04] fdetsch commented on #70
Excellent, really appreciate it!

[2021-03-08 22:52] Saadi4469 opened #106 "Error in strsplit(x, ":") : non-character argument"
Hello,

I am getting this error after running the following command:

[code]
[code]
Also the file is not showing the date in the filename, why is that so?

Please note that I have the most recent version of MODIS i.e., 1.2.3

[2021-03-08 23:13] Saadi4469 commented on #106
Even after changing "dlmethod = curl", it does ask me the username and password, but then after a while I still get the same error.
[code]

[2021-03-08 23:36] Saadi4469 commented on #106
The problem was with my password which was incorrectly entered the first time in the terminal. Fixing that resolves the issue.

[2021-03-09 06:55] fdetsch commented on #106
Glad to hear you could work this out.

[2021-03-09 06:55] #106 closed

[2021-03-10 02:41] Saadi4469 opened #107 "runGdal date issue"
Hello,

[code]
The above line is downloading files (pixel reliability band) with wrong begin date, the downloaded files are starting from 2019 instead of 2015! It's weird because when I use the same code for the 1st band (NDVI), it starts downloading files according to the begin date 2015001.

[2021-03-11 00:51] Saadi4469 commented on #107
Changing the output path to a new/different folder under MODISoptions solves this issue.

[2021-03-11 07:12] fdetsch commented on #107
Thanks again. Please let us know if you get to the bottom of what you described in the first comment.

[2021-03-11 07:12] #107 closed

[2021-04-05 01:04] ljs19930709 opened #108 "Can not find GTiff data in my PROCESSED file"
Hi,

I had struggled with this problem two days.
My system is Windows 10.
My codes as follows:
library(MODIS)
EarthdataLogin(usr = 'jingshan', pwd = 'L.........')
lap = "D:/temp/MODIS/MODIS_ARC"
odp = file.path(lap,"PROCESSED")
MODISoptions(localArcPath = lap, outDirPath = odp)
dates <- as.POSIXct( as.Date(c("02/06/2019","02/06/2019"),format = "%d/%m/%Y") )
dates2 <- transDate(dates[1],dates[2])
h

[2021-04-05 05:23] ljs19930709 commented on #108
My sessionInfo() is
R version 4.0.3 (2020-10-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18362)

Matrix products: default

locale:
[1] LC_COLLATE=Chinese (Simplified)_China.936  LC_CTYPE=Chinese (Simplified)_China.936
[3] LC_MONETARY=Chinese (Simplified)_China.936 LC_NUMERIC=C
[5] LC_TIME=Chinese (Simplified)_China.936

attached base packages:
[1] stats     g

[2021-04-05 05:25] ljs19930709 commented on #108
MODISoptions()

STORAGE:
_______________
localArcPath : D:/学习材料/卫星影像处理学习/MODIS/MODIS_ARC
outDirPath   : D:/学习材料/卫星影像处理学习/MODIS/MODIS_ARC/PROCESSED

DOWNLOAD:
_______________
MODISserverOrder : LPDAAC, LAADS
dlmethod         : curl
stubbornness     : high
wait             : 0.5
quiet            : TRUE

PROCESSING:
_______________
GDAL           : 3.0.4
MRT            : Enabled
pixelSize      : asIn

[2021-04-07 19:07] ljs19930709 commented on #108
I have solved it. When I changed my path into C:/, it works. I thought the reason was that my GDAL was installed into C:/.

[2021-04-07 19:07] #108 closed

[2021-04-09 17:51] bcosentino opened #109 "runGdal error"
I'm getting an error with runGdal in a script that has been running fine daily for months. I get the same error when using code from the documentation:

[code]

My sessionInfo and MODISoptions are below. I'd appreciate help troubleshooting this error!

**sessionInfo:**

[code]

**MODISoptions:**

[code]

[2021-04-17 19:45] edzer opened #110 "Upcoming sf version will break MODIS (when using s2 for geometries with ellipsoidal coordinates)"
Please see https://github.com/r-spatial/sf/issues/1649 - please consider commenting there if you get stuck! (@paleolimbot: another `✖ Loop 0 is not valid: Edge 1 crosses edge 6`)

[2021-04-27 19:38] bcosentino commented on #109
Today I did a clean install of R and RStudio. I manually wiped all files from .libPaths() before reinstalling. I still get the following error with runGdal:

Error in load(fls_col) : empty (zero-byte) input file

[2021-05-26 07:30] juanenbici opened #111 "strsplit error"
Hi. When I try to download and process MODIS data with MODIS R package, I get this strange strsplit error.

`runGdal( product="MOD11A1", begin="2010001", end="2010005", SDSstring="101")`

what I get after select some tiles:

`########################`
`outProj          =  asIn `
`pixelSize        =  asIn `
`resamplingType   =  near `
`Output directory =  C:/**************************/MOD11A1.006_2

[2021-05-27 09:41] juanenbici commented on #111
After changing the `localArcPath`, now is not giving me this error anymore but is giving me the following loop error

´############################´
´Remote connection failed! Re-try: 24 ´
´Getting file from: LAADS ´
´############################´
´Remote connection failed! Re-try: 25 ´
´Getting file from: LPDAAC ´
´############################´

[2021-06-02 19:31] edzer commented on #110
Still the case. Please consider using `sf::st_make_valid` on data with ellipsoidal coordinates.
[code]
You can test with s2 (1.0.5) from CRAN, and sf branch `sf_1_0` from the github repo. Let me know if we can help.

[2021-06-02 20:21] labguyvancouver commented on #111
I am having the same issue. Any resolution yet?

[2021-06-02 21:33] labguyvancouver opened #112 "Local structure is up-to-date. Using offline information!"
I'm trying to download some data, but every time I run my code, I receive the same message:

`Local structure is up-to-date. Using offline information!`

See code below:

[code]

I'm unsure why this is. No actual files are presented or downloaded. How do I fix this to actually get data?

[2021-06-03 06:49] juanenbici commented on #112
Hi, for me is happening somenthing similar but only with some of the dates. Some are downloaded and some not. Why?

[2021-06-03 21:18] labguyvancouver commented on #112
So at the end of the day, it ran the day after without changing a thing? Could simply be an issue with availability of data for the date we feed into it I suppose. May be worth checking the records on earthdata to see if your data exists for the given timeframe before trying to download it using the MODIS package.

[2021-06-04 06:32] juanenbici commented on #112
The data exist in my case, but when trying to download it from MODIS package it doesn't do it

[2021-06-04 16:16] labguyvancouver commented on #112
How long is your time series? Maybe there is a limit to the amount of scenes that can be returned in one command?

[2021-06-04 17:48] labguyvancouver commented on #112
I am only capable of downloading data from 2018 onwards for MOD11A2, which also doesnt seem right...anything before that it refuses to work.

[2021-06-07 16:15] bjpadilla opened #113 "Using HDF5 vs HDF4"
Hello,

I am having trouble with the runGdal function. I do have GDAL installed, however I have HDF5 not HDF4 installed, and I am having trouble getting HDF4 installed. Does the package work with HDF5?

[2021-06-17 08:28] melody1006 commented on #50
Hello, I am having the same or a similar issue on Windows:
lap = "D:/R_MODIS/MODIS_ARC"

STORAGE:
_______________
localArcPath : D:/R_MODIS/MODIS_ARC
outDirPath   : D:/R_MODIS/MODIS_ARC/PROCESSED

DOWNLOAD:
_______________
MODISserverOrder : LPDAAC
dlmethod         : auto
stubbornness     : high
wait             : 0.5
quiet            : TRUE

PROCESSING:
_______________
GDAL           : 3.2.1
MRT

[2021-06-30 16:23] karldw commented on #110
FYI, MODIS was been removed from CRAN on June 28, 2021 because of these errors.

Users can install an archived version with `remotes::install_version("MODIS", "1.2.3")` (though you'll run into the issues described above unless you also install an old version of sf).

[2021-06-30 16:41] edzer commented on #110
... or use `sf_use_s2(FALSE)`.

[2021-07-01 14:12] MatMatt commented on #110
Dear Edzer,
Thank you for insisting on this! I have been completely out from working on
the MODIS package since quite a while now. I have tried to logon to my
github but it asks me for a 2f auth which I had to reset now. After getting
back the access I will have a look at this!!

Thanks again
Matteo

Am Mi., 30. Juni 2021 um 18:41 Uhr schrieb Edzer Pebesma <
***@***.***>:

[2021-07-01 14:19] edzer commented on #110
Great - let me know when you need help!

[2021-08-16 17:55] Avtober opened #114 "Help downloading MODIS data in R"
Hi, I am trying to download NDVI from MODIS and used the following code but am having issues:

devtools::install_github("MatMatt/MODIS", ref = "develop")
library(MODIS)

MODIS = runGdal("MOD13Q1", collection = "006",
              tileH = 20, tileV = 11,
              begin = "2000.02.18", end = "2010.03.10", job = "MOD13Q1",
              SDSstring = "110000000000") # extract NDVI and EVI

I get

[2021-08-20 06:49] fdetsch commented on #111
@ramonmelser @juanenbici I fail to reproduce this error. Can you maybe provide the output of `traceback()` to give me an idea where the error occurs? Or alternatively, run the above code with `debug(MODIS::runGdal)` enabled?

[2021-08-20 07:10] fdetsch commented on #110
@edzer Thanks for the notification! I haven't been following the discussion in quite a while. From what I understand, would it be enough to examine any incoming geometry with `sf::st_is_valid()` and, if required, then invoke `sf::st_make_valid()`?

[2021-08-20 08:10] fdetsch commented on #110
So to answer my own question, it seems like this approach is not viable. At least,

[code]

using valid geometries only leads to the same error.

[2021-08-23 12:55] fdetsch commented on #114
@Avtober Can you have a look at https://github.com/MatMatt/MODIS/issues/111#issuecomment-902473477 (similar issue) and try to provide the required information?

[2021-08-23 13:05] Avtober commented on #114
Hi @fdetsch, If I run the traceback i get the following:

7: strsplit(x, ":")
6: getSdsNames(SDSnames)
5: gsub("\"", "", getSdsNames(SDSnames))
4: getSds(HdfName = y, SDSstring = SDSstring)
3: FUN(X[[i]], ...)
2: lapply(files, function(y) {
       getSds(HdfName = y, SDSstring = SDSstring)
   })
1: runGdal("MOD13Q1", collection = "006", tileH = 20, tileV = 11,
       begin = "2000.02.18", end = "2

[2021-08-23 15:27] fdetsch commented on #114
I deleted everything that is not relevant at this stage from your answer &ndash; hope that's okay.

From your first post, it looks like you are attempting to download to a temporary folder, which I would not recommend for such big data. Can you do me a favor and set `localArcPath` to a permanent folder on your hard drive? Then verify if the downloaded .hdf file is several 100 MB large or if you're

[2021-08-23 15:48] Avtober commented on #114
Hi @fdetsch,

Thanks, I tried that and it created the folder but the folder was empty. I have copied the outcome and the error message below:

Setting 'localArcPath' to 'C:/Users/avtob/OneDrive/Documents/Documents/data/MODIS_ARC'
If you already have downloaded some HDF files, you can use '?orgStruc' to rearrange them.
'outDirPath' has been changed from 'C:/Users/avtob/AppData/Local/Temp/RtmpS2IFWF

[2021-08-23 15:53] fdetsch commented on #114
Is a file `~/.netrc` present and are the credentials therein correct?

[2021-08-23 15:55] Avtober commented on #114
It brings up the file but it looks like its empty.

[2021-08-23 15:58] fdetsch commented on #114
One step closer, I guess. Please run `EarthdataLogin()` and enter your Earthdata credentials (see `?EarthdataLogin` for details). Afterwards, try again the code from https://github.com/MatMatt/MODIS/issues/114#issuecomment-903875483.

[2021-08-23 16:21] Avtober commented on #114
I think that worked, I now have a HDF file of around 200,00KB and two Tiff files (NDVI and EVI) in the processed folder! I guess I can try this with the larger data now?

Thanks for your help!
Anya

[2021-08-23 16:28] fdetsch commented on #114
Happy to help. Let me know if you encounter other problems.

[2021-08-23 16:30] fdetsch commented on #111
Please see https://github.com/MatMatt/MODIS/issues/114#issuecomment-903897048 and comments below for a possible solution. Closing this due to to inactivity.

[2021-09-21 13:41] olatunjijohnson opened #117 "Can't install MODIS on R version 4.1.1"
install.packages("MODIS")

Warning message:
package ‘MODIS’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages

[2021-09-21 15:04] rmdobservations commented on #117
This worked. I have yet to test it further.
devtools::install_github("MatMatt/MODIS")

[2021-09-21 16:09] olatunjijohnson commented on #117
Yes, it works. Thanks. I suppose the problem is the "ref" argument.

[2021-09-22 05:22] fdetsch commented on #117
Thanks for solving this. I would recommend sticking to the latest version from GitHub until the package is some day back on CRAN.

[2021-09-22 05:22] #117 closed

[2021-09-23 09:44] #111 closed

[2021-09-23 09:44] #114 closed

[2021-09-23 09:46] fdetsch opened #118 "Add latest products and update collections"
Self-explanatory.

[2021-10-01 12:23] fdetsch opened #119 "Add support for MOD28C2 and MOD28C3"
Same for Aqua. Also investigate if there exist more such products.

[2021-10-20 06:58] fdetsch opened #120 "Test examples, unit tests with missing .netrc file"

[2022-06-04 19:14] cedlfc44 opened #122 "library(MODIS) is not working, CANT REINSTALL"
HI:
I used MODIS during my investigations, today , Im trying to run a code to download EVI images but library MODIS not working, I tried reinstall but :
-When i used github link i get this:
devtools::install_github("MatMatt/MODIS", ref = "develop")
Error: Failed to install 'unknown package' from GitHub:
  HTTP error 404.
  No commit found for the ref develop

  Did you spell the repo owner (`MatMa

[2022-06-07 05:52] fdetsch commented on #122
The `develop` branch is no longer available. Simply use `remotes::install_github("MatMatt/MODIS")` instead to install from the default branch.

[2022-06-07 05:52] #122 closed

[2022-08-17 15:09] pabuveery commented on #106
Hello! I am receiving the same error message, and I double checked that my password was entered correctly. I am running the following command:

[code]

bcr12 is a RasterLayer. I derived this code from eBird Best Practices' guidelines to downloading MODIS data: https://cornelllabofornithology.github.io/ebird-best-practices/covariates.html#covariates-dl

Approximately 2-3 hours after running my code

[2022-08-17 16:11] pabuveery commented on #106
Here's the traceback if that's helpful:

[code]

[2022-08-24 13:27] pabuveery opened #123 "runGdal not downloading TIF files"
Hello -- I'm using the [eBird best practices](https://cornelllabofornithology.github.io/ebird-best-practices/covariates.html) guidelines for downloading MODIS tiles, and while the runGdal function runs for a couple of hours, in my output folder I am only finding .hdf files (each only 7 bytes), and no tif files. In addition, the following error is thrown:

[code]

I have double checked that my Eart

[2022-08-24 13:28] pabuveery commented on #123
Here is my session info:

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
 [1] gdalUtils_2.0.3.2   curl_4.3.2          rnaturalearth_0.1.0 forcats_0.5.1       stringr_1.4.0
 [6] dplyr_1.0.9         purrr_0.3.4         readr_2.1.2         tidyr_1.2.0         tibble_3.1.8
[11] ggplot2_3.3.6       tidyverse_1.3.1     viridis_0.6.2

[2022-08-24 13:30] pabuveery commented on #123
I've pasted MODIS options below. Also, if it's relevant, I'm downloading the code onto a remote storage system that I'm accessing through a personal laptop.

MODISoptions()

STORAGE:
_______________
localArcPath : /Volumes/lsa-wingerb1/hackm/phylo_comm_ecol/data/ebird/data
outDirPath   : /Volumes/lsa-wingerb1/hackm/phylo_comm_ecol/data/ebird/data/PROCESSED

DOWNLOAD:
_______________
MODISserverOrd

[2022-08-26 12:26] #120 closed

[2022-08-26 12:49] fdetsch commented on #123
Can you try again with the latest version from `main`? Installation instructions are commented in the code below. I changed a couple of things on a feature branch over the last couple of months (years?), which have now finally been merged.

[code]

![land_cover](https://user-images.githubusercontent.com/3940660/186906775-4df6088e-f71a-491a-bbec-d4c296f2b625.png)

[2022-08-29 09:12] fdetsch commented on #123
@pabuveery Any success?

[2022-08-29 09:22] fdetsch commented on #113
Never tried it, to be honest. Did you manage to get it working?

[2022-08-29 09:39] fdetsch commented on #106
Judging from a couple of forum posts (e.g. [downloading ASTER L1T](https://forum.earthdata.nasa.gov/viewtopic.php?t=3336&start=10), [LP DAAC Planned Power Outage](https://forum.earthdata.nasa.gov/viewtopic.php?t=3290&start=20)), it seems like LP DAAC is experiencing rather heavy traffic these days resulting in 401 Authorization errors for at least some users. Can you try retrieving the data from L

[2022-08-29 11:29] fdetsch opened #124 "Check Earthdata login via LAADS"
In case LP DAAC is not reachable, e.g. during scheduled server downtime or other exceptional circumstances (e.g. https://github.com/fdetsch/MODIS/issues/106#issuecomment-1230027766), `checkEarthdataLogin()` should be able to validate Earthdata credentials via LAADS.

[2022-08-29 12:50] pabuveery commented on #123
Hi, thank you for this response! I installed the latest version and reran my code, and I'm not receiving any errors but the job also hasn't completed after several hours (and no new hdf or TIF files have appeared or existing files updated, though I see a .hdf.curltmp file appearing and disappearing). What sort of ETA might I expect for this sort of job? Thanks!

[2022-08-29 12:54] fdetsch commented on #123
Can you try again with

[code]

as suggested in https://github.com/fdetsch/MODIS/issues/106#issuecomment-1230027766? LP DAAC seems to be having authorization issues due to heavy traffic right now (see forum links in comment).

[2022-08-29 13:11] pabuveery commented on #123
I ran your above comment, along with your code for product and collection variables, and then tried the following code chunk:

[code]

and received the following error:

[code]

And the same error occurred when I tried removing the pluck and unlist commands. I see that this same issue occurred [here](https://github.com/fdetsch/MODIS/issues/15) -- is the LAADS server perhaps also not reachable? My

[2022-08-29 13:33] fdetsch commented on #123
When accessing https://ladsweb.modaps.eosdis.nasa.gov/archive/allData/61/MCD12Q1/, it says `"No files found"`. Through LP DAAC, I would guess ETA should be in the order of seconds depending on your internet connection. I'll need to dig a little deeper..

[2022-08-29 13:49] fdetsch commented on #123
For what it's worth, this should work when querying the older collection `"006"`, which is available on LAADS:

[code]

[2022-08-29 23:08] pabuveery commented on #123
Thanks for taking an additional look, I appreciate your help! FYI, I tried the above code, and it generated an empty .tif file (0 bytes); after about eight hours, nothing new has been created beyond that empty tif.

[2022-08-30 07:21] #124 closed

[2022-08-31 07:17] fdetsch commented on #105
Thanks, I am able to reproduce this with a new password starting with `$`. `MODIS:::checkEarthdataLogin()` then returns:

[2022-09-01 13:10] fdetsch commented on #105
So here's my findings:

curl doesn't seem to care whether or not there's metacharacters in the Earthdata password. `curl::handle_setopt(..., userpwd = paste0(usr, ":", pwd)` likely handles this internally. So as long as `dlmethod = "curl"` (which hasn't been the default so far, but I am thinking about changing this permanently), you should be fine.

For all other download methods, including wget,

[2022-09-01 15:13] itati01 commented on #105
I added a `$` and a `(` to my current password and the code works, i.e. starts to download HDFs (I stopped the process after the first HDFs appeared in the temp folder):
[code]
However, there seems to be an issue in `MODISoptions`: Without `MODISserverOrder="LPDAAC"`, the error `Error in match.arg(server, several.ok = TRUE) :  `'arg' should be one of '“LPDAAC”, “LAADS”'` is raised. Is this intende

[2022-09-01 15:19] fdetsch commented on #105
That's intended. My plan is to handle arguments passed to `MODISoptions()` a bit stricter using assertions, e.g. via **checkmate**. Nothing that's ready for release just yet, though.

[2022-09-02 07:17] #102 closed

[2022-09-02 07:17] #105 closed

[2022-09-03 11:11] fdetsch opened #127 "getTile() support for 'sfc' signature"
For this code,

[code]

an error is raised because "sfc" signatures are currently not supported in `getTile()`:

[2022-09-03 11:12] fdetsch commented on #127
Should be able to handle all `"sfc_"` signatures, not just polygon.

[2022-09-07 06:51] #127 closed

[2022-09-19 09:27] fdetsch commented on #70
The problem with `gdalwarp` is that you cannot assign multiple `-srcnodata` values to a single band (see the [documentation](https://gdal.org/programs/gdalwarp.html#cmdoption-gdalwarp-srcnodata), [StackExchange](https://gis.stackexchange.com/q/339709), etc.). Due to that, we had initially implemented an approach leveraging [val_repl.py](https://github.com/OSGeo/gdal/blob/master/swig/python/gdal-ut

[2022-09-19 10:05] MagicForrest commented on #70
Thanks for this.  I kinda expected that the conclusion might be "beyond the scope of MODIS", I was asking for a lot!

I can definitely follow your suggestion and work up solutions as you demonstrate with terra.  I will also need to do resampling and reprojecting as a subsequent processing step too (which was why I was hoping to get it all with a single "runGdal()" command).  But this will be much

[2022-09-19 10:05] #70 closed

[2022-09-19 10:16] fdetsch commented on #70
Thanks. Indeed, **terra** should offer sufficient and fast enough functionality for post-processing.

I'll at least try to make the documentation for `maskValue` a bit more transparent and align the code with what is described in the [gdalwarp -srcnodata documentation](https://gdal.org/programs/gdalwarp.html#cmdoption-gdalwarp-srcnodata).

[2022-09-20 11:57] fdetsch commented on #123
@pabuveery Any new insights?

[2022-09-23 14:56] fdetsch commented on #123
Closing due to inactivity.

[2022-09-23 14:56] #123 closed